[2018-03-05 20:04] abjerner opened #170 "Community: There is no active state for the left navigation"
Just as a reminder so we fix this:

**Community section** (no active state)
![image](https://user-images.githubusercontent.com/3634580/36997042-acad1c62-20b8-11e8-9d87-b26e3170d4d7.png)

**Documentation** (has active state)
![image](https://user-images.githubusercontent.com/3634580/36997055-babbee0a-20b8-11e8-97ae-9e49bfc5ac77.png)

[2018-03-05 20:15] abjerner opened #171 "Meetups: Distance used for "NEAR YOU" should be configurable"
As part of my original pull request, I added a check to show a **NEAR YOUR** label when a meetup is within 50 km of the location of the active member.

As there are now Danish meetups again, I've realized this distance is too low, as the direct distance from my home town to Odense is roughly 65 km. So members should probably have an option to configure the desired distance. I'm think a dropdown or

[2018-03-05 20:18] abjerner opened #172 "Community: Breadcrumb should include "Community""
**Meetups** is at the third level in the site structure, so the breadcrumb should also include **Community** (which is at level 2).

All the new community pages seems to be affected, so it probably only a single place that we have to fix.

@nul800sebastiaan If possible, feel free to assign this to me ;)

![image](https://user-images.githubusercontent.com/3634580/36997610-7a44a2e8-20ba-11e8-8825-8a

[2018-03-05 20:21] abjerner opened #173 "Community -> Videos: Add bottom margin to tags"
I can't assign issues to myself, but I'd be happy to fix this one (as I should have done it earlier).

![image](https://user-images.githubusercontent.com/3634580/36997761-f58275c0-20ba-11e8-8995-f3c41d156aa6.png)

[2018-03-05 20:22] abjerner commented on #173
Umbraco videos has the same issue:

![image](https://user-images.githubusercontent.com/3634580/36997849-43411f8c-20bb-11e8-9e43-ca4429725a06.png)

[2018-03-05 22:45] abjerner opened #174 "Top karma earners last week"
Both titles are **Top karma earners last week**, but the stats are different. The top one should show the current week - as it used to do.

![image](https://user-images.githubusercontent.com/3634580/37003939-0ef37ec8-20cf-11e8-973b-67f4f5a04d83.png)

[2018-03-06 09:58] nul800sebastiaan commented on #174
For some reason this list was based on last year's results, not this years haha
https://github.com/umbraco/OurUmbraco/commit/6d4531a4c9bde5b1b67a4b4d965b29ca2fc9e2c7

[2018-03-06 09:59] nul800sebastiaan commented on #172
It will do as soon as the community page is no longer hidden (naviHide is currently 0) :-)

[2018-03-06 09:59] #172 closed

[2018-03-06 10:02] abjerner commented on #172
Ah, I see. But should a breadcrumb really listen for `umbracoNaviHide`? I think this is specifically one of those moments where `umbracoNaviHide` should be ignored.

But as long as it works when the pages are made public ;)

[2018-03-06 10:26] nul800sebastiaan commented on #174
Hmm, now it's just not showing last week and this week.. oops :)

[2018-03-06 10:27] abjerner commented on #174
Whichever week I have the most karma is fine ;)

[2018-03-06 10:42] nul800sebastiaan commented on #174
Happy? ;-)

![image](https://user-images.githubusercontent.com/304656/37028029-67d13080-2133-11e8-8c26-68a1b60cbf12.png)

[2018-03-06 10:42] #174 closed

[2018-03-06 10:44] abjerner commented on #174
![sy3s6](https://user-images.githubusercontent.com/3634580/37028144-bd48ac1e-2133-11e8-8a8a-c3854cc18262.gif)

[2018-03-08 12:36] nul800sebastiaan opened #176 "Some packages appear with -1 votes"
Since it's impossible to downvote packages, this must be a bug somewhere.

See this tweet: https://twitter.com/dan_lister/status/971710557383471106

[2018-03-10 15:16] nul800sebastiaan commented on #176
This is now fixed: https://github.com/umbraco/OurUmbraco/commit/38a3cff277aa283d6a9ddbab42ad89efdbceb0c2

[2018-03-10 15:16] #176 closed

[2018-03-11 18:52] abjerner commented on #173
Fixed by https://github.com/umbraco/OurUmbraco/pull/179

The two videos pages use the same CSS classes, so it fix applies to both 😎

[2018-03-11 19:43] abjerner commented on #170
Fixed by https://github.com/umbraco/OurUmbraco/pull/180

[2018-03-11 21:12] abjerner opened #181 ""Post Reply" button fails again"
The issue with the "Post Reply" button is back:

![image](https://user-images.githubusercontent.com/3634580/37258474-e88c423e-2578-11e8-8317-f9674f78b28c.png)

I'm assuming it's because the server responds with a 500 status code, but I haven't been able to confirm for sure yet.

[2018-03-12 06:20] nul800sebastiaan commented on #181
Can't reproduce that, I fixed some things on Saturday afternoon though, did you get this on Sunday?

[2018-03-12 08:17] abjerner commented on #181
If by Sunday you mean yesterday, then yes. I only added a single reply. Anyways, I'll try to remember to check the Network tab next time I post a reply ;)

[2018-03-12 13:13] nul800sebastiaan opened #182 "Community section: create calendar of Umbraco related events"
This includes:

  - Festivals
  - Meetups
  - Things like CodeCabinn
  - Niels is speaking at a conference
  - etc

Should be able to filter by type so we can list only festivals or only meetups.

We should be able to do some content management on festivals from the backoffice to provide a description, link, maybe a banner.

RSS feed of events would be an added bonus.

We can re-use the design fro

[2018-03-13 08:52] abjerner commented on #182
@nul800sebastiaan wouldn't storing festivals etc. as content in Umbraco put some extra work on the HQ? Couldn't it just be a JSON file editable via GitHub? (I'm just asking, as you probably know better what works the best)

Also, meetups are working fine now, so it should probably be an aggregated list of some sort, so some content is curated while other content (like Meetups) are imported automat

[2018-03-13 08:58] nul800sebastiaan commented on #182
@abjerner Our communications team at HQ would love to create the content and maintain it!
Yep, indeed, the calendar will just list whatever is currently available from meetups into it, no need to re-invent the wheel there! :)

[2018-03-13 21:43] abjerner opened #183 "Should category labels for packages have their own color?"
... or some other visualization that the it is a package forum. See suggestion below:

![image](https://user-images.githubusercontent.com/3634580/37371486-ccf674d4-270f-11e8-8b40-173a2e724a27.png)

[2018-03-13 22:03] abjerner commented on #181
Aaaaaand it's me again:

![image](https://user-images.githubusercontent.com/3634580/37372288-7da75238-2712-11e8-8f85-abe823a1587c.png)

The server responds with a 500 status code and ... ehrm ... a very unspecific error message :confused:

Like I wrote earlier, it's a reply to another reply - although I couldn't replicate that in your test thread

[2018-03-13 22:05] abjerner commented on #181
Well, still works here: https://our.umbraco.org/forum/using-umbraco-and-getting-started/90869-test#287463

Could the difference be that my reply was made in a package forum and not the "regular" forum?

[2018-03-13 22:15] nul800sebastiaan commented on #181
I tried to reply to that same comment as you did, no problem.. so doesn't seem like it's the cause. No errors in the log or event logs either, so I am still not sure where it's coming from! :/

[2018-03-13 22:17] abjerner commented on #181
Perhaps Our just doesn't like me 😭

[2018-03-13 22:28] abjerner commented on #182
Figured it would be a good idea to to have the discussion here instead of Gitter.

I had a quick play with a timeline based calendar. I've used the existing logic for meetups, while the part for festivals is somewhat hardcoded.

![image](https://user-images.githubusercontent.com/3634580/37373011-26434288-2715-11e8-8f80-224c61774a5e.png)

I kinda have reinvented the CSS and HTML for the timeline, a

[2018-03-13 22:50] nul800sebastiaan commented on #182
Wow. Didn't realize you were going to pick this up already!

This looks great!! Yes, I imagined it would replace the current Meetups page under **community** so it becomes **community/calendar**. I was thinking we can put festivals and other random events under that page so that we just need to list the children, mixed with the meetups that are already available.

[2018-03-18 12:25] #173 closed

[2018-03-18 12:26] nul800sebastiaan commented on #170
👍

[2018-03-18 12:26] #170 closed

[2018-03-23 12:27] nul800sebastiaan opened #192 "Add GitHub statistics"
We currently have an integration with GitHub running to sync new, updated, merged and closed PRs.
These PRs will be linked to members on Our Umbraco who have filled in their GitHub username in their profile.

We can do a few things with this data:
- Get statistics on how fast PRs get merged
- Automatically hand out Karma for merged PRs
- Automatically ensure the contributor badge gets added to peo

[2018-03-23 12:32] nul800sebastiaan opened #193 "Karma needs to be restructured"
Currently Karma exists in a few different tables and we can't create new types of Karma to hand out (for example for merged PRs https://github.com/umbraco/OurUmbraco/issues/192).

Querying is also expensive as we need to join all the data from the tables making it slow.

Would be good to merge all of this in one single table with a karma category.
Eventually this will require a bit of a maintenanc

[2018-03-23 12:33] nul800sebastiaan opened #194 "Hand out Karma for blog posts"
The blog post data we import includes member Ids per blog and it would be good to hand out Karma to people writing blog posts that appear on the community page.

Depends on https://github.com/umbraco/OurUmbraco/issues/193

[2018-03-23 12:35] nul800sebastiaan opened #195 "Add community statistics"
Some work has been done on making statistics for the forum (number of topic, number of answer, number of solved topics etc).

What other statistics could we try to gather?

[2018-03-23 12:41] nul800sebastiaan opened #196 "Featured content on the community hub"
The community page opens with the map and community chat currently. We really want to feature community generated content there too, ideas:

- Latest UmbraCoffee
- Longreads - latest Skrift posts
- Maybe even featured tweets, meetups, festivals?

It would be very nice to easily be able to pick featured items in the backoffice, maybe we can get a quick blog post / video picker worked up as a custom

[2018-03-23 15:39] OwainWilliams commented on #195
- Total number of H5YR
- Who's currently online
- Newest member to the forum
- Who the forum admin team is, useful to find someone to contact.

[2018-03-23 21:54] warrenbuckley commented on #192
What like my old 3 year PR that you closed @nul800sebastiaan  :trollface:

Joking aside - looks like a neat feature to add & investigate more...

[2018-03-23 21:56] warrenbuckley commented on #193
@nul800sebastiaan not sure I follow but a member has total karma in the index - as long as its not too expensive to calculate then it could be added to the Examine Index

[2018-03-23 21:58] warrenbuckley commented on #195
Great suggestions @OwainWilliams 👍

[2018-03-24 08:12] nul800sebastiaan opened #197 "Find/make better cluster markers for the map"
The original markers made it look like nuclear war, but they also nicely changed color to become "warmer" in areas with many people. Currently the markers just get larger, would be nicer do both size and color.

[2018-03-24 08:13] nul800sebastiaan commented on #193
Yeah, I'm not sure if we need to know the breakdown of karma categories.

Mostly we should just have 1 table in the DB for it though.

[2018-03-24 20:39] warrenbuckley commented on #197
Yes agree - needs some with some design flair @nul800sebastiaan
Perhaps we can ask @madsrasmussen very nicely :)

[2018-03-25 10:29] nul800sebastiaan opened #199 "Show live forum/package/other activity on the map"
A few years ago Niels built a map integration where community activity would appear on the map, whenever someone created a new post, a new marker would appear on the map (Seb just asked a question from Denmark). New comment, new package download, someone gave a high five, etc.

It would be lovely to be able to see all that live activity going on again on the map!

[2018-03-26 06:19] bjarnef commented on #195
I would be nice to have pages for the different badges on members 👍
It seems something has already been made to list Mvp grouped by year, but maybe pages to list Admins, HQ, C-trib, e.g. under /members/mvp(s), /community/members/mvps, /community/mvp or similar :)

Not sure if any other badges is available 🦄

[2018-03-26 08:47] nul800sebastiaan commented on #195
@bjarnef Great idea! Done! :-D

[2018-03-26 08:49] nul800sebastiaan opened #200 "Gitter @ mentions should also be auto-linked to a member profile"
Currently, if someone's github profile matches with the sender of a message on gitter, it will link to the member profile. @ mentions don't auto-link though, need to investigate if we can do that too.

[2018-03-26 12:30] bjarnef commented on #195
Awesome! @nul800sebastiaan #h5yr 🙌 🎉

[2018-03-26 21:48] abjerner commented on #197
The markers could use the colors of Our - eg. either #ff6e00 (orange) or #A3DB78 (green). I think using a single color, but different size of markers is fine.

Also, we can style Google Maps make the map simpler. Eg. if we use #A3DB78 (green) for the markers, #ff6e00 (orange) could be used to style the roads (as I don't think the current yellow color looks that good). Styling also means that we ca

[2018-03-26 21:51] abjerner commented on #196
As we already have the data in Umbraco (on disk), I think it would be "fairly" simple to create pickers using these feeds. I can look into that part ;)

[2018-03-26 22:03] abjerner commented on #195
@nul800sebastiaan Might be an idea to give each badge their own page - otherwise *Badges* will become one very long page.

[2018-03-26 22:04] nul800sebastiaan commented on #195
But then we'll have one very long contributor page and two other short pages. :-)

Seems fine for now, we'll see how it goes!

[2018-03-27 10:13] warrenbuckley commented on #199
This is OK to add but a usability question @nul800sebastiaan
If I am browsing around the map looking for nearby members in the UK and you post a forum post in CPH.

Do you expect the map to zoom out & pan over to CPH?
How long does the marker last before it goes away?

[2018-03-27 10:16] warrenbuckley commented on #197
@abjerner yep very true, I didn't look too much into the styling parts #NotADesigner & just wanted something to work.

But its neat that we can do that

[2018-03-27 11:26] bjarnef opened #201 "Recent forum posts on frontpage"
Should the forum posts be added to frontpage as in old days? :)

At the moment it exists here:
https://our.umbraco.org/community/blog-posts/

Twitter activity and Meetups are part of the frontpage.

[2018-03-27 11:28] bjarnef opened #202 "Adjust tags in sidebar menu"
I think styles of tags in the sidebar menu should be adjusted a bit.

![image](https://user-images.githubusercontent.com/2919859/37964733-ca915e8a-31c2-11e8-9768-442a95bfeb43.png)

E.g. similar to how it looks in forum overview page.
![image](https://user-images.githubusercontent.com/2919859/37964761-e37e1500-31c2-11e8-97a3-dc295e2cde61.png)

Something like this:

[code]

![image](https://user-ima

[2018-03-27 11:45] warrenbuckley commented on #202
Looks good to me @bjarnef
Mind sending us your magic CSS as a PR please :)

[2018-03-27 11:47] bjarnef opened #204 "Console errors on karma leaderboard"
There are some console errors on this page:
https://our.umbraco.org/community/karma-leaderboard/

![image](https://user-images.githubusercontent.com/2919859/37965313-f4a7b42e-31c4-11e8-8b07-d03591b2afd5.png)

I guess it is because of this image has a space in the url:
http://our.umbraco.org/media/upload/0bd1f83a-f0d4-4f67-84b4-6676de8138f7/BW Profiler.jpg?width=112&height=112&mode=crop&upscale=tru

[2018-03-27 11:48] bjarnef commented on #202
Maybe later, just creating an issue to remember this should be fixed 😁

[2018-03-27 11:50] warrenbuckley commented on #201
@bjarnef I am not sure I understand?
The homepage contains:
* List of recent forum posts
* Gitter CMS Chat
* Meetups
* GitHub Contributions
* Twitter Activity

[2018-03-27 11:58] nul800sebastiaan commented on #204
Hmmm, I would've thought that was in place already. Might be a different code path though.

https://github.com/umbraco/OurUmbraco/blob/cdc8afdfbd5ef3989dfd68f805a22037a678e9fe/OurUmbraco/Our/Utils.cs#L332

[2018-03-27 12:04] bjarnef commented on #204
I get the spaces here :)

![image](https://user-images.githubusercontent.com/2919859/37966131-cb0264cc-31c7-11e8-93fe-8396b5ad25ed.png)

[2018-03-27 12:05] warrenbuckley commented on #171
Yeh probably need to add a new member field for this @abjerner & UI to set/override the default on member profile edit page

[2018-03-27 12:06] bjarnef commented on #201
@warrenbuckley ahh sorry, I meant blog posts - not forum posts 😬

I have changed the title and description.

[2018-03-27 12:16] bjarnef commented on #204
@nul800sebastiaan how about this helper function?
https://github.com/umbraco/OurUmbraco/blob/06cc377d0cdbca2c643beaeba1e4319eda5356b4/OurUmbraco.Site/Views/Partials/Community/KarmaStatistics.cshtml#L190-L214

[2018-03-27 13:10] nul800sebastiaan opened #205 "Create RSS feed of the aggregated blog posts"
It would be good to have an RSS feed for the community blog posts so they can be used anywhere else as well.

[2018-03-27 13:17] NikRimington opened #206 "Blog feed improvement idea"
The latest blog feed is a great addition to the site.
It could be useful, however, if people could add a tag to their RSS feed against their entries to say if they are "news", "tutorial", "meta" etc.

It could just be an optional addition and allow for quick tagging, filtering of the latest feed for people looking for specific things.

[2018-03-27 14:10] daniel-chenery opened #207 "Multiple Devs in One Location on map"
We've both set our location the the [office](https://www.google.co.uk/maps/place/btc,+Business+and+Technology+Centre/@51.9016363,-0.2181888,17z/data=!3m1!4b1!4m5!3m4!1s0x487631b625610a87:0x667a157c2580bd5a!8m2!3d51.901633!4d-0.2160001).

The Umbraco map correctly displays the number "2" for this location, however clicking on it zooms the map excessively and fails to show anybody in that location.

[2018-03-27 14:36] warrenbuckley opened #208 "Map Avatars - Some members are not getting avatar displayed"
For example this member has a profile image set, but when I find them on the map they have a fallback Gravatar image displayed as opposed to one set on their profile.

https://our.umbraco.org/member/147287

[2018-03-27 14:45] warrenbuckley commented on #208
Seems like this function needs updating
https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Community/Map/MapApiController.cs#L77

As compared to what is used in the Partial View for the public member profile
https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/Partials/Members/PublicProfile.cshtml#L54

[2018-03-27 15:09] bjarnef opened #209 "Fix badge classes"
I noticed on @warrenbuckley 's member profile that the badges didn't have same styling as other places on Our.
https://our.umbraco.org/member/1175

![image](https://user-images.githubusercontent.com/2919859/37976255-5b59eb9e-31e1-11e8-8cfc-4f3df28c52f7.png)

The badges has class names `badge.CssClass`  instead of class names like `mvp`, `c-trib` etc.

![image](https://user-images.githubusercontent

[2018-03-27 15:29] bjarnef opened #210 "Add line breaks on Gitter username"
In mobile layout I think we should add line breaks on Gitter username, twitter and maybe after date too.

![image](https://user-images.githubusercontent.com/2919859/37976873-bf60bb6c-31e2-11e8-90d2-e7e77685cdda.png)

Something like this:

[code]

![image](https://user-images.githubusercontent.com/2919859/37977579-4932f868-31e4-11e8-9fed-cfd492222ac4.png)

[2018-03-27 15:36] bjarnef opened #211 "Fix & character in recent tweets"
When tweets contains e.g. the character `&` it doesn't seem to be decoded.
https://twitter.com/warrenbuckley/status/978643318748958727

![image](https://user-images.githubusercontent.com/2919859/37978053-60e638ac-31e5-11e8-8c02-3b5110154c37.png)

[2018-03-27 16:16] bjarnef opened #212 "Adjust avatars under map"
When zooming in on the map on this page, the might be a bit too much distance between the avatars:
https://our.umbraco.org/community/

![image](https://user-images.githubusercontent.com/2919859/37980000-46a40af0-31ea-11e8-9f0b-012d33ae8e55.png)

I would add this to each item `flex: 0 1 auto;` and then add `justify-content: flex-start;` or `justify-content: center;` on the parent element.

Also add

[2018-03-27 16:31] bjarnef opened #213 "Cluster graphic doesn't disappear when zooming"
When I zoom in on the map or clicking the cluster graphic, it doesn't seem to disappear.

![image](https://user-images.githubusercontent.com/2919859/37980506-94a41afa-31eb-11e8-9b74-20eebc94da3f.png)

e.g. when zooming to max level I still see a cluster graphic with value "5" for Herning, Jutland, Denmark :)

![image](https://user-images.githubusercontent.com/2919859/37980660-e88ecc28-31eb-11e8-97

[2018-03-27 16:41] abjerner commented on #201
How about if members could be able to configure their Our home page? Or is this too much?

"Components" and their order could be controlled from the edit profile page:

![image](https://user-images.githubusercontent.com/3634580/37981546-39e4ebe6-31ee-11e8-8931-09ddfb30d5f4.png)

[2018-03-27 17:04] abjerner commented on #207
Just throwing this in here as a possible fix:

https://github.com/jawj/OverlappingMarkerSpiderfier

I researched it once for a project, but ended up with another solution, so I haven't used it myself. The demos appear to just use regular markers, so I'm also not sure how it will work with clusters.

[2018-03-27 18:21] warrenbuckley commented on #212
Thanks @bjarnef as I suck at writing CSS :)

[2018-03-27 18:22] warrenbuckley commented on #213
That's because we have some members with the exact same location or used a generic location. See London for example. Not sure I can do much to combat this @bjarnef

We hope over time people either update/amend their location so there are less of these

[2018-03-27 18:26] warrenbuckley commented on #207
Oh neat find @abjerner I will have to look & investigate that.
Think the first thing is to fix this bug/issue & then take a look at implementing this library if that is the solution. As London has quite a few that overlap not just 2 or so

[2018-03-27 20:41] bjarnef commented on #213
Okay @warrenbuckley  :)

However I wonder why these 5 people on the same location then suddenly disappear, when I zoom to much on the position?

![image](https://user-images.githubusercontent.com/2919859/37993653-927180be-320f-11e8-98bf-f45594fc3f9c.png)

![image](https://user-images.githubusercontent.com/2919859/37993691-b94ffe68-320f-11e8-8fe1-a471aaf671ca.png)

![image](https://user-images.gith

[2018-03-28 07:31] warrenbuckley commented on #208
PR for this is here for when your back off holiday @nul800sebastiaan
https://github.com/umbraco/OurUmbraco/issues/208

[2018-03-28 07:33] warrenbuckley commented on #213
OK this is a duplicate issue @bjarnef

See this one here...
https://github.com/umbraco/OurUmbraco/issues/207

[2018-03-28 07:33] #213 closed

[2018-03-28 09:28] #208 closed

[2018-03-28 09:39] warrenbuckley commented on #209
Hmm I can't reproduce this @bjarnef
This still an issue for you?

[2018-03-28 09:44] nul800sebastiaan commented on #209
Oops, it's missing an @ sign. They're all consistent now as well :-)

👍

[2018-03-28 09:44] #209 closed

[2018-03-28 09:49] nul800sebastiaan commented on #211
Need to make sure it's safe and we're not allowing some kind of nasty injections if we `Html.Raw` it.

[2018-03-28 09:51] nul800sebastiaan commented on #206
Cool, we already look for the `<category>` node but don't do much with the data (just used for a few blogs to only pull in whatever is tagged with `umbraco`).

[2018-03-28 09:55] nul800sebastiaan commented on #199
Yeah, it used to pan over to the place of activity.

Maybe we could have a checkbox under it saying: "hey listen, I am looking at this area of the map, okay, don't move the bloody thing while I'm looking at it!".

Or maybe it shows the activity map by default and there's a big button saying: view members near me.

[2018-03-28 10:26] nul800sebastiaan commented on #204
Fixed in https://github.com/umbraco/OurUmbraco/commit/d6921c30466b5a5e9e4a11227de2dc55d8477828

[2018-03-28 10:26] #204 closed

[2018-03-28 10:28] #212 closed

[2018-03-28 10:53] warrenbuckley commented on #207
@nul800sebastiaan the underlying issue is due to our rounding of the lat & lon it seems if I revert this on my local copy then this works fine.

Will see if I can find a solution & get this sorted whilst making sure the markers are rounded & not too precise from the API controller

[2018-03-28 10:58] nul800sebastiaan commented on #207
Aha.. okay cool, maybe we should add in a random fudge factor after the 2nd digit then, location will become a random spot in the 1.1km area then.

[2018-03-28 10:59] daniel-chenery commented on #207
Nothing like magic numbers to fix a problem 🤣

[2018-03-28 11:01] nul800sebastiaan commented on #207
Random numbers! ;-)

I mostly want to make sure we're not disclosing people's locations too much down to the centimeter.

[2018-03-28 11:09] bjarnef commented on #204
@nul800sebastiaan any reason it doesn't reuse this utils method?
https://github.com/umbraco/OurUmbraco/blob/cdc8afdfbd5ef3989dfd68f805a22037a678e9fe/OurUmbraco/Our/Utils.cs#L231-L242

[2018-03-28 11:24] bjarnef opened #217 "Limit size of emojis in Gitter"
Should we set a size limit on Gitter emojis? E.g. 20 x 20 px?

![image](https://user-images.githubusercontent.com/2919859/38026150-49cb7d3e-328b-11e8-927e-f22fde8fb111.png)

Updated size:

![image](https://user-images.githubusercontent.com/2919859/38026173-64a5666a-328b-11e8-86da-a6d2e5e407df.png)

Maybe also consider adding `vertical-align: middle`.

[code]

[2018-03-28 11:36] #217 closed

[2018-03-28 11:37] warrenbuckley commented on #217
Thanks @bjarnef all pushed

[2018-03-28 11:50] #202 closed

[2018-03-28 11:51] warrenbuckley commented on #202
Thanks again @bjarnef

[2018-03-28 11:53] abjerner commented on #211
It seems that the text is already encoded, so we should be able to decode it without any problems. But yes, we must make sure to test whether that is in fact the case. Even though is doesn't use my package (😡), I can try having a look at it ;)

[2018-03-28 11:56] abjerner commented on #207
But ... two sorta-random locations may still share the same coordinates - or be really close.

I may however have a solution that I've used in the past. I can try to look into that later ;)

[2018-03-28 12:11] nul800sebastiaan commented on #211
😂 Sorry for that ;-)

[2018-03-28 12:15] nul800sebastiaan commented on #207
You're right! I got it to work now with randomized locations but of course then this happens (and sometimes the markers are not even in the viewport any more.

![mapsclusterfck](https://user-images.githubusercontent.com/304656/38028214-84dde1a8-3292-11e8-84aa-9260dd5e2773.gif)

[2018-03-28 12:45] robertjf opened #218 "Changing Avatar image on Edit Profile page does weird things to Location map"
1. Go to Edit Profile (https://our.umbraco.org/member/profile)
2. Change Avatar Image to a new image.

Expected result: Avatar image will be updated

Actual result: Location map tiles are replaced with uploaded image.

Browser used: Chrome Version 65.0.3325.181 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/818101/38029595-f9b40c4c-32e1-11e8-9f69-f193f8bc326d.png)

[2018-03-28 12:57] abjerner commented on #207
Okay - so the solution I was talking works by grouping locations (or in this case members) with the exact same coordinates, and then run the latitude and longitude through the two methods below. It will do nothing for the first location (where `group` is zero), but the remaining locations will be placed around the original coordinates.

Here illustrated with my awesome Paint skills:

![image](http

[2018-03-28 12:59] abjerner commented on #207
Btw - is you GIF from London? I suddenly feel like going to **BEST KEBAB** 😄

Also, what tool do you use for converting a screencast to a GIF?

[2018-03-28 13:02] #218 closed

[2018-03-28 13:55] nul800sebastiaan commented on #207
Haha, yes! Send more Kebab. It's actually near where Warren lives, South-End.

Camtasia makes the gifs for me, but costs a bit of course.

[2018-03-28 13:58] nul800sebastiaan commented on #207
btw I've just added a max zoom level to the whole map, so we could add this as well, to uncluster at the max zoom level:

https://github.com/googlemaps/v3-utility-library/blob/master/markerclusterer/src/markerclusterer.js#L338

Not sure how well your adjustments will work if just zooming in on the central point of "London" where there 166 people.

![image](https://user-images.githubusercontent.com

[2018-03-28 14:36] NikRimington opened #219 "Community Section - Slack"
I know there have been discussions regarding Slack, but considering it is a fairly well-established platform for the community (and other communities such as UmbBristol, etc). It could be worth at least having a nice link/post saying that it exists/advertised.

Gitter is fine (I've only just heard of it thanks to this community update) and I get that it's a HQ decision to include it with more of a

[2018-03-28 14:48] nul800sebastiaan commented on #219
It is great that the Slack channel exists and some people are comfortable there.

However, the goal of the HQ is to get a lively community going on Our Umbraco and so we don't want to send people somewhere else to create a shadow-community.

We also don't like with the closed nature of the community Slack where all information basically disappears into a void due to the 10.000 message rollover. It

[2018-03-28 14:49] #219 closed

[2018-03-28 15:01] warrenbuckley commented on #207
I would say the original issue is fixed that avatars under the map disappeared when you zoomed in super close @nul800sebastiaan & we should close this?

Perhaps create a new issue & link back here to talk about how to improve the map UI when there are 150+ users at same location, perhaps from @abjerner suggestion/s

[2018-04-03 11:43] bjarnef opened #221 "Group blogposts"
I was wondering if we should group the blogposts on this page?
https://our.umbraco.org/community/blog-posts/

E.g. blogposts from https://umbraco.com/blog/ , but also from the christmas calendar 🎅

For example it would be great to have blog posts from https://24days.in/umbraco-cms/2017/ grouped by year.

Alternatively a filter option to filter blogposts by "Umbraco HQ", "24.days.in", etc.

[2018-04-03 21:49] abjerner opened #222 "Archive vs Recent blogs and meetups"
For both meetups and blog posts, we're currently only pulling in recent items, and always just saving the recent items - so we don't really have an archive of these items.

Perhaps we should have some kind of archive? For blog posts (which would benefit most from this), this would mean that RSS items are imported (either in a database or a JSON files on the disk), and we can retrieve them again la

[2018-04-03 21:52] abjerner commented on #221
@bjarnef Yes, I think there should be some sort of grouping or filtering.

But in order for this to work properly, I think we need to keep an archive of blog posts instead of just pulling and showing the recent ones. I posted some thoughts about that here: https://github.com/umbraco/OurUmbraco/issues/222

[2018-04-05 07:39] greystate opened #223 "Description missing for Core badge"
Just noticed on [Hendy Racher](https://our.umbraco.org/member/1713)'s profile there is a **Core** badge (others have it as well) which, when clicked, takes you to [the descriptions](https://our.umbraco.org/community/badges/#core) of the other badges, missing a description for the Core badge.

Any other badges being rendered that are missing descriptions?

[2018-04-06 07:12] Mivaweb opened #224 "Avatar unknown issue on the Karma Leaderboard"
Seems that an Our member has an issue with his avatar causing this:

![capturess](https://user-images.githubusercontent.com/13479920/38407630-8de1334c-397a-11e8-9535-4689cbc160ef.jpg)

Shouldn't this member have a default avatar?

/Michaël

[2018-04-06 08:07] Mivaweb commented on #224
Ok on the profile page of this member, a default avatar is rendered and visible.

[2018-04-06 11:39] nul800sebastiaan commented on #224
I'm refactoring all avatars at the moment, should be fixed soon :)

[2018-04-06 19:02] abjerner opened #225 "Introduce new Codegarden badge"
Assuming that Umbraco already has sufficient data from previous Codegarden ticket purchases, it could be fun to introduce a new Codegarden badge - eg as illustrated below:

![image](https://user-images.githubusercontent.com/3634580/38439031-86a5e5ca-39dc-11e8-83c5-7dd708d06808.png)

The color for the badge is **#FF8B8A** which I've picked from the Codegarden 2018 website. Also, as I have been to a

[2018-04-07 11:07] nul800sebastiaan commented on #224
There we go, the avatar of this person has been fixed and avatar code has been centralized. We're also not using Gravatar at all any more so that we don't leak any data to them (a privacy update).

![image](https://user-images.githubusercontent.com/304656/38454281-7d8b14fa-3a64-11e8-81cc-7ad3c9d77b4c.png)

[2018-04-07 11:07] #224 closed

[2018-04-07 11:13] Mivaweb commented on #224
Thanks for the help!

[2018-04-07 11:31] nul800sebastiaan commented on #225
I would love it but there's a few problems:

1. Our data is not very good, and it depends on who bought the ticket and if a seat was ever assigned. At best it will be messy and inaccurate for most people.
2. Our privacy policy doesn't allow for sharing data from the Umbraco.com shop with Our Umbraco.

The good news about number 2 is that we're not like Facebook ;-)

Maybe we can one day develop th

[2018-04-07 11:31] #225 closed

[2018-04-07 11:50] nul800sebastiaan commented on #223
Hmm, the Core badge doesn't mean anything any more. It used to be that you as a non-HQ person had commit rights to the Core, but that's just HQ members now.

I've unassigned it from people who have it (sorry Hendy and others!).

[2018-04-07 11:50] #223 closed

[2018-04-07 11:52] nul800sebastiaan commented on #221
Yep, would love to archive and group!

[2018-04-07 11:52] nul800sebastiaan commented on #221
Duplicate of #222

[2018-04-07 11:52] #221 closed

[2018-04-07 11:54] #200 closed

[2018-04-07 12:10] nul800sebastiaan commented on #222
1. Navigation: should be fine for now to just list all blogs/meetup groups in the menu I think, we can rework it once the list gets too long
2. Removal: I think removal would be super rare, don't need to be concerned about that for now
3. Old posts: Not sure, let's start with what data we have now and can get in the future, if people want to include more archives they could update their RSS genera

[2018-04-10 22:04] greystate opened #227 "Access member profiles by nickname"
It has always bugged me that an Our member's profile is only accessible using their `id`.

I always have to do a search just to find Janae's or Fuji's () profile - heck, I can't even remember my own id :-)

Wouldn't it be possible to create a **ContentFinder** that could find the right member, given their GitHub user or Twitter handle? E.g. for me, they're the same, but `https://our.umbraco.org/me

[2018-04-11 20:40] abjerner commented on #227
@greystate I think this would be awesome.

I looked a bit at the code, and we can update the existing macro partial (yes, the public profile is a macro) along with a small rewrite rule. `Web.config` already has:

[code]

so we can add:

[code]

If we use the GitHub username, the code for finding the member could look something like:

[code]

I tested this on my local Our installation, and it works

[2018-04-12 12:44] nul800sebastiaan commented on #227
Seems fine to me. At some point I would really like to implement a proper link to GitHub and Twitter by redirecting people through those two sites to prove that they own the account, for now this should be more than enough.

I'll check out the changes when I have some time!

[2018-04-12 13:44] nul800sebastiaan commented on #227
Note: it IS indeed possible to have github usernames that are just numbers.

[2018-04-12 14:11] abjerner commented on #227
@greystate @nul800sebastiaan any ideas for a URL syntax specific for username then? We could go with `/members/{username}` instead (members in plural).

Others could be:

`/member/@{username}`
`/member/github:{username}`

Or only use @ for numeric GitHub usernames:
`/member/@1337` <-- GitHub username
`/member/1337` <-- Our user id

[2018-04-12 15:20] abjerner commented on #227
Also, as @greystate writes, it can hard to find specific members. So should there be a global members page where we could search for members?

I don't whether there are any privacy concerns for something - if so, it could be opt-in. Besides, it should be possible to find members via Google - it's just a bit harder/cumbersome.

[2018-04-12 18:38] greystate commented on #227
Really awesome @abjerner !

I'd prefer using the GitHub username, even though I'm pretty sure that there are more members with a Twitter account than there are with a GitHub account (?).

It's a damn shame we can't just go with `/member/abjerner/` but I guess the `/@abjerner/` version could work almost as well :-)

[2018-04-12 19:02] abjerner commented on #227
@greystate We could make it so that the @ is only used for numeric GitHub usernames:

/member/@1337 <-- GitHub username
/member/1337 <-- Our user id
/member/abjerner <-- GitHub username

But then again, Our has a number of member pages which technically could collide with GitHub usernames as well:

![image](https://user-images.githubusercontent.com/3634580/38697911-9a449584-3e93-11e8-8f24-bea09b19

[2018-04-12 19:45] greystate commented on #227
I'm totally on the `@githubuser` bandwagon now - it would work with the least amount of caveats :)

Main reason to have this in the first place is for anyone to be able to go directly to someone's profile page without having to remember an ID... Heck, I could even live with a 302 redirect to the current (id) version, to be honest :-)

So my proposal would be to rewrite `/member/@\w+` to the profil

[2018-04-12 21:27] abjerner commented on #222
I've been playing a bit around with this one. The IDs of the various blogs don't use the same format. They're all GUIDs, but some are lowercase, some are uppercase and a few are enclosed in curly brackets:

https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/config/CommunityBlogs.json

I think it would be best to use the same format - it looks better, and may also have some advantage

[2018-04-15 13:49] kgiszewski opened #229 "DoubleClick Ad Scripts Appearing"
Not suggesting anything malevolent but DoubleClick is collecting info on the Our Umbraco site and it's not listed in the privacy policy.

https://our.umbraco.org/privacy-policy/

It only appears every so often and not on every load. I'm using Ghostery (Chrome Extension) to detect these on sites I visit. You'll have to reload a few times to catch it.

I tried to track it down, there are two google

[2018-04-16 09:46] bjarnef opened #230 "Cookie popup seems to affect layout"
I noticed a cookie popup has been added and it seems to afffect the styles/layout.

E.g. for https://our.umbraco.org/download/ in mobile layout.

![image](https://user-images.githubusercontent.com/2919859/38801708-e1388fa2-416a-11e8-8d2f-26514856cb48.png)

compared to opening the menu from other pages.

![image](https://user-images.githubusercontent.com/2919859/38801752-02f693f0-416b-11e8-933f-3f2

[2018-04-16 11:31] dawoe opened #231 "Karma not always awarded when topic is marked as solution"
I noticed a couple of time when answer is marked as solution the correct karma amount is not always awarded. Normally you should get 20 points when your answered is marked as solution and it should show the number 100.

Example post with no karma : https://our.umbraco.org/forum/extending-umbraco-and-using-the-api/91596-umbracomodelsbuilderapi-cannot-find-namespace#comment-289284

[Screenshot](http

[2018-04-16 11:38] Mivaweb commented on #231
Same here, first noticed it this morning.

/Michaël

[2018-04-16 11:55] nul800sebastiaan commented on #230
It does say that you need to accept cookies for the best experience ;-)

I don't think it's really a problem, choose one of the links and the cookie notice disappears and won't be injected again, everything will be back to normal (no matter which one you choose).

[2018-04-16 18:09] bjarnef commented on #230
@nul800sebastiaan

No, if I reject cookies and refresh the page, I still see all the additional spacing, because of the `height: 100%` on several elements.

![image](https://user-images.githubusercontent.com/2919859/38826591-93c4ef5e-41b0-11e8-94b7-7a18f0f8c6a7.png)

I don't understand why it need cookies for this? It is just css.

![image](https://user-images.githubusercontent.com/2919859/3882671

[2018-04-17 11:34] nul800sebastiaan commented on #230
Turns out it had nothing to do with the styling, just me being an idiot 😂

Spot the problem.. ;-)

![image](https://user-images.githubusercontent.com/304656/38867329-043081d4-4244-11e8-93d0-a0d413d66744.png)

[2018-04-17 11:34] #230 closed

[2018-04-17 11:37] nul800sebastiaan commented on #231
Just to confirm: I've seen the problem, I'll have a look at it soon and whatever happened it can be corrected. :-)

[2018-04-17 12:48] bjarnef commented on #230
Much better! 😁🦄

It is not very clear that there is a collapsed "cookie policy" in this corner.

Maybe it should be less hidden?

![image](https://user-images.githubusercontent.com/2919859/38870463-3269ffee-424e-11e8-9a18-fb559924eacc.png)

![image](https://user-images.githubusercontent.com/2919859/38870245-8b314994-424d-11e8-8148-520a77428f64.png)

[2018-04-19 06:35] nul800sebastiaan commented on #229
Thanks @kgiszewski 👍
After some investigation it turns out this was a misconfiguration in google analytics. This has been corrected yesterday and it looks like the new settings have taken effect today.

[2018-04-19 06:35] #229 closed

[2018-05-03 09:10] dawoe commented on #231
This seems to be working again

[2018-05-03 09:38] dawoe opened #233 "Karma totals for the past year keeps being added"
If I look at the totals for the past year, i see karma earned after May 1st getting added.

Here you see a screenshot for today at 11:09. I have 222 karma for the past week and 1580 for the past year
![karma leaderboard 3-5 11-09](https://user-images.githubusercontent.com/1193822/39569664-2f0496a0-4ec6-11e8-9bb4-ede2eb26e007.png)

Here you see a screenshot for today at 11:26. I have 242 karma for

[2018-05-03 18:32] abjerner commented on #227
@nul800sebastiaan regarding my last comment, do you have any thoughts on the URL structure? Going forward, I think it could make sense to use `/members/{username}` and `/members/id:{memberId}` for member URLs. One of them should then redirect to the other - or both should work, but use canonical URLs to specify to primary URL of the two (whichever one that is).

I'm also a bit keen on a members ov

[2018-05-07 09:42] dawoe commented on #233
I can confirm this issue does not happen anymore this week.

Dave

[2018-05-07 09:42] #233 closed

[2018-05-29 08:31] nul800sebastiaan opened #244 "New packages all seem to be listed with `n/a` as the applicable version"
This seems to also affect the search result for packages when you look for them in the backoffice.

![image](https://user-images.githubusercontent.com/304656/40647125-645a85de-632b-11e8-99ec-b845bbee2835.png)

[2018-05-29 09:56] tcmorris opened #245 "Add last updated tag to docs"
It would be useful to know when the last time a page within the documentation was updated at a glance.

[2018-05-29 10:05] tcmorris opened #246 "Add 'was this page helpful' option to docs"
When viewing documentation, it's possible that you do or don't find what you are looking for. As discussed at Codegarden, it would be great if there was an option to provide some feedback as to whether or not the documentation was helpful, and if not, then why not?

Potential implementation:

Place at the bottom of the page with two options.
- Yes, when clicked - great, feel free to suggest any up

[2018-05-29 11:10] abjerner commented on #245
@tcmorris Good idea 👍

But I'm afraid this requires quite a bit of changes. The current implementation downloads the docs repository as a ZIP file:

https://github.com/umbraco/UmbracoDocs/archive/master.zip

The file is then extracted on the Our server. Unfortunately all files share the same timestamp - probably for when the ZIP file was generated by GitHub.

If we need the correct timestamps, the

[2018-05-29 11:14] nul800sebastiaan commented on #245
Actually fetching the git repo is definitely something I've been wanting to experiment with, and `LibGit2Sharp` is really pretty good and not too bad to implement! Might also help with making overwriting files easier (only changes files, for example). Currently the unzip+overwrite operation sometimes gets stuck on a locked file and then it's all over until a manual trigger fixes it again.

[2018-05-29 18:24] abjerner commented on #245
I couldn't help but play a bit around with this.

If we set up a local clone of the UmbracoDocs repository, we can't really use the timestamps of the files on disk, as these doesn't reflect when the file was changed on GitHub.

We can use git blame (eg. through `LibGit2Sharp`), which let's us both determine when the last commit was made and the people who have contributed to the current version of

[2018-05-29 19:17] nul800sebastiaan commented on #245
Sweet! This is great, might hit some API limits at some point but we can do the archive pretty slowly.

Ah yes, I didn't think about that, it would needs to be merged or something, but that's much too complicated. A separate metadata file might be easiest indeed.

[2018-06-04 14:28] mortenbock opened #248 "The "Activity in threads you participated in" list does not seem to be updating"
I have participated in some newer threads, and even received emails about new activity in them. But they do not seem to be showing in this dashboard?

![image](https://user-images.githubusercontent.com/1760256/40923085-261cd338-6814-11e8-87f5-cc77070e496f.png)

[2018-06-07 19:22] ed-parry opened #251 "Last updated date on documentation search results is always today"
Here's an [example](https://our.umbraco.org/search?q=search&cat=documentation) - each result has today's date as the last updated value, with a blank space for the created date. Looks to be related to #245 but I guess this is an overhang of standard search functionality that doesn't yet apply/work for the documentation pages?

[2018-06-07 19:45] nul800sebastiaan commented on #251
Yeah, I'll close it as a dupe of #245 - there's no way we can currently get the real last updated date.

[2018-06-07 19:45] #251 closed

[2018-06-07 20:12] ed-parry commented on #210
@bjarnef Your suggestion works nicely, Bjarne - a lot clearer to read!

[2018-06-07 20:30] ed-parry commented on #251
@nul800sebastiaan Makes sense. Is it worth a quick PR to remove the dates from the documentation search results then, or very low priority for now? Can be confusing when documentation results appear alongside forum posts in results.

[2018-06-07 21:03] nul800sebastiaan commented on #251
Neh, not after being there for years ;-)

[2018-06-08 11:06] BatJan commented on #248
I experience that it's working kinda random...I see a mix of new and old threads in my list, which is quite confusing. Don't know if it may be a weird caching issue?

[2018-06-08 11:09] BatJan opened #253 "Feature suggestion: Add "Strikethrough" option to the markdown editor"
I'm missing the "Striketrhough" option when editing a post. If for instance you realise what you have written is wrong or not clear enough it would be nice to make a strikethrough of the text no longer relevant, so it's very clear.

[2018-06-08 22:21] syska opened #256 "Breadcrumb menu link - wrong"
When I'm on: https://our.umbraco.org/search?q=Test&cat=forum

The "Search" link in the "breadcrumb menu" links to the same page, while the page I'm on is still in the "breadcrumb menu " as "test".

Also reported here: https://our.umbraco.org/forum/contributing-to-umbraco-cms/92407-breadcrumb-link-wrong

[2018-06-09 21:44] greystate commented on #248
Maybe it's just being ordered wrong?

I searched the source for "ACTIVITY IN THREADS YOU PARTICIPATED IN" and _followed the rabbit_ to end up here:

https://github.com/umbraco/OurUmbraco/blob/166329bd6c3b8fcceaa907a72f244445ff2fe920/OurUmbraco/Forum/Services/TopicService.cs#L221-L230

There's a couple of `OrderByDescending()` further down, but I don't know how it all works, so can't tell if there'

[2018-06-11 14:40] readingdancer opened #257 "The Video page needs to lazy load."
When clicking on the Video page you are first shown ALL videos which is currently 253 videos, this loads in the thumbnails for each of the videos which is a total page load of 9.2MB

While trying to access this page sitting in a coffee shop with share broadband is painfully slow and took over a minute for the page to load.

What I'd like to see is for this page to lazy load the video thumbnails so

[2018-06-11 21:37] abjerner commented on #257
@readingdancer Good catch 👍

I think my original ideas was to have some kind of pagination as the list would grow in size. So I think that would be the ideal solution, but also requires some extra work.

Lazy loading should however be somewhat simpler - I've played around with some JavaScript, which resulted in this JSFiddle:

https://jsfiddle.net/uem4kLfs/show

Once you scroll, it detects the ima

[2018-06-11 21:43] readingdancer commented on #257
@abjerner Yes, this is exactly what I was going to implement, great you have managed to do it already :)

[2018-06-13 10:49] #244 closed

[2018-06-13 11:16] nul800sebastiaan commented on #244
Fixed with commits:

https://github.com/umbraco/OurUmbraco/commit/36c380cbcc38d0e129eaf82ad280098323e7fc5b
https://github.com/umbraco/OurUmbraco/commit/2c14f8b0e3b089ad24409a2b62b63e437e774385

[2018-06-16 10:32] BatJan opened #260 "Feature suggestion: Option to edit post immediately after it has been created"
I noticed that whenever one creates a new post the context menu is limited to only have 2 of the usual options. One is delete and the other one I think is "Copy link".

However I find that I make many typos when I write so after posting I need to edit the post. But currently one will need to refresh the page using ctrl+f5 in order to see the full range of options on the post where it's then possib

[2018-06-19 15:07] PeteDuncanson opened #261 "Avatar picture when creating an account too big/wrong scale"
As reported by Dean via twitter: https://twitter.com/deanleigh/status/1009072978842316806

The avatar picture when you first sign up for the forums is scaled wrong (its too big). See pics on Deans tweet.

This WAS reported on the old issue tracker: http://issues.umbraco.org/issue/U4-11459

[2018-06-19 15:23] ed-parry commented on #261
Looks like those images are generated in code, in the `GetIdenticonGenerator` method of the `AvatarService` class. Likely just a case of updating the generated size here.

Digging a little further, it looks like the `AvatarImageTooSmall` property is set if the image height/width is below 400, and the generated images are currently 360, so pushing this up slightly should fix this one.

Can look to

[2018-06-19 15:40] nul800sebastiaan commented on #261
It's a little cheeky on purpose at the moment. It encourages people to go into their profile and upload a real image. PRs will not be considered at the moment :-)

We're working on optimizing the signup and profile filling steps at the moment. "Fixing" this will be part of that.

[2018-06-19 15:44] ed-parry commented on #261
Fair enough, @nul800sebastiaan, but can understand why new users can get confused by the system complaining about an image the system itself provided.

The more you think about this one the more problems arise, so glad the whole area is being picked up and improved. :)

[2018-06-19 16:00] greystate commented on #260
Yep - I’ve actually seen many complain about not being able to edit their post (because they hadn’t refreshed).

[2018-06-19 17:35] nul800sebastiaan commented on #260
Oops, wrong button! 🙈

I remember we had the same problem when editing a comment, so I added a refresh at some point after submitting the edit. It's not very sexy but that would be the only easy way to make this work, only after the refresh do we have the id of the post available to be able to show the appropriate buttons.

Of course the ideal solution would be to send the correct data back after

[2018-06-20 16:25] jamiepollock commented on #253
@BatJan I've done some investigation into this and sadly it's currently not possible.

The logic for markdown comes in the form of a version of Pagedown and the `Markdown.Converter.js`. Sadly this is [linked out to a CDN](https://github.com/umbraco/OurUmbraco/blob/fe254ea99fda756278bffee96947a821910a6f30/OurUmbraco.Site/Views/Master.cshtml#L26) in `Master.cshtml` so we can not modify the code even

[2018-06-20 18:14] jobf opened #262 "Support syntax highlighting like github flavoured markdown"
**Let's support syntax highlighted code snippets in the forum by using backticks and specifying the code?**  As seen here - https://help.github.com/articles/creating-and-highlighting-code-blocks/#syntax-highlighting

The issue I'm outlining here is similar to [this pull request](https://github.com/umbraco/OurUmbraco/pull/168), that introduces GFM (github flavoured markdown) for documentation.

Mor

[2018-06-20 18:16] jobf commented on #262
Just a note that I've started looking into this already but please do add comments, suggestions or whatever 😄

[2018-06-20 19:20] jamiepollock commented on #253
@BatJan yea, I completely agree! I was disappointed to see strikethrough wasn't supported by Pagedown. The project has numerous issues and don't seem overly well maintained in the last 6 months which is disappointing.

The semi-good news is [the editor](https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Assets/js/editor.min.js#L2-L3) included [here](https://github.com/umbraco/OurUmb

[2018-06-20 22:56] jamiepollock commented on #256
@syska I've submitted a PR to fix this however as mentioned in #263 the default search page isn't much use to a user currently.

[2018-06-21 14:45] readingdancer opened #264 "The Video count does not seem to be working ( or at least needs updating! )"
I have just looked at the video page to view the #CG18 videos, currently they all say they have been viewed zero times... but if you click through to one of the videos, you will find that they have actually been viewed.

https://our.umbraco.org/videos/

At the time of writing this, the following video has been viewed 96 times:

https://vimeo.com/273473715

What I would expect to see is the counter

[2018-06-21 18:20] jamiepollock commented on #260
@BatJan @nul800sebastiaan hey guys, I have a fix in place for this. :)

[2018-06-25 10:30] PeteDuncanson opened #267 "Add a link to forgotten password page to let you login again"
![image](https://user-images.githubusercontent.com/1674590/41845631-0954ab78-786c-11e8-9ecd-a8a3d402e9c0.png)

The thank you page after the forgotten password page shows a nice message to say "You can now login" but there is no link to the login page.

Ideally that text should have a link to:

https://our.umbraco.com/member/login

Nice and easy.

[2018-06-25 10:40] PeteDuncanson commented on #267
See: https://github.com/umbraco/OurUmbraco/blob/4fac7f0b9156b6f832628487231d6b11453158ae/OurUmbraco.Site/umbraco/Views/common/dialogs/login.html#L225

Mildly complicated as we will need to localise it but doable.

[2018-06-26 20:13] #210 closed

[2018-06-26 20:17] nul800sebastiaan commented on #260
Resolved with #266

[2018-06-26 20:17] #260 closed

[2018-06-27 09:52] ed-parry commented on #267
I think it could be this page for the fix @PeteDuncanson:
https://github.com/umbraco/OurUmbraco/blob/4fac7f0b9156b6f832628487231d6b11453158ae/OurUmbraco.Site/Views/Partials/Members/ResetPassword.cshtml

Your link is within the Umbraco source which could still benefit from a helpful link, but I don't think it's the page we get referred to from Our. The localisation part made me wonder! :)

[2018-06-27 11:04] PeteDuncanson commented on #267
@ed	ooh good spot, habit of searching the Umbraco CMS code :)

The line I mention originally is here too: https://github.com/umbraco/OurUmbraco/blob/4fac7f0b9156b6f832628487231d6b11453158ae/OurUmbraco.Site/Views/Partials/Members/ForgotPassword.cshtml#L38

So we have two places to fix...which seems odd?

[2018-06-27 11:10] ed-parry commented on #267
It's just the `ResetPassword.cshtml` isn't it? The `ForgotPassword.cshtml` is effectively the end of that flow, with `ResetPassword.cshtml` bringing them back to the site from the email?

[2018-06-27 11:44] bjarnef opened #269 "Page title truncated"
I just saw this forum thread on our https://our.umbraco.com/forum/using-umbraco-and-getting-started/92607-ould-i-be-better-off-dropping-umbraco-and-building-my-site-using-aspnet-mvc-hosted-on-azure

and I am wondering why this page title and url is truncated to "_ould i be better off dropping umbraco and building my site using aspnet mvc hosted on azure_" without "_W_"? 🤔

![image](https://user-im

[2018-06-27 11:49] nul800sebastiaan commented on #269
Dunno. :-)

It's not a systemic problem at the moment, might be related to renaming it, I'm not worried about it. :)

[2018-06-27 11:49] #269 closed

[2018-06-27 12:43] nul800sebastiaan commented on #267
☝️ What Ed said! 😁

[2018-06-27 18:13] abjerner commented on #264
@ed-parry I just had a look at what goes wrong, and it is because the play count isn't returned properly by the Vimeo API (there is a `plays` property, but the value is `null`).

I think the play count was there back in February when we launched the new community section. I will look into why the play count isn't returned ;)

[2018-06-27 18:42] abjerner commented on #264
Apparently the play count isn't available if the access token only has the `public` scope, but it is when using an access token with the `private` scope. Which may actually be a bug on Vimeo's end (or silly behavior at best) as my own access token with the `private` scope can access the play count of Umbraco's videos.

@nul800sebastiaan would it be possible to switch to an access token with the `p

[2018-06-27 18:50] ed-parry commented on #264
Makes sense, thanks @abjerner. I guess they're hiding some of the details unless the scope is private, but if it doesn't have to be associated to the upload account doesn't make much sense to me, but can't say I understand the Vimeo API.

Thanks for the pointer too - I may take a look, and could be worthwhile updating the timestamp at the same time - the latest video on the page is only 28 seconds

[2018-06-28 14:29] #267 closed

[2018-06-29 08:02] abjerner opened #273 "Show link to uProfile where relevant"
Could something like below be an idea?

![image](https://user-images.githubusercontent.com/3634580/42080561-6a59a1a2-7b83-11e8-978c-b5178645106d.png)

![image](https://user-images.githubusercontent.com/3634580/42080503-2e5d2cdc-7b83-11e8-9588-003dfdacc36d.png)

[2018-07-04 13:27] bjarnef opened #275 "Single quote is rendered as html code in search result title"
It seems single quotes are rendered as html code in search result title instead of the raw html, e.g. try search for `don't`

![image](https://user-images.githubusercontent.com/2919859/42279623-ae2faf56-7f9e-11e8-8351-43f7b1611820.png)

![image](https://user-images.githubusercontent.com/2919859/42279632-b98485ac-7f9e-11e8-9dd5-1359cd556f67.png)

There is a similar issue in the autosuggestions.

![

[2018-07-09 20:40] BatJan opened #278 "New users that comment on existing posts are not shown in the "AnitSpam" view for administrators"
It seems like newly created users that comment on existing posts never appear in the "AntiSpam" section, which is available to administrators of the forum.

I noticed that in this post https://our.umbraco.com/projects/collaboration/merchello/merchello/88208-back-office-product-images-not-loading a new user added a comment in October last year but he has not yet been approved. I have noticed this o

[2018-07-10 07:04] nul800sebastiaan commented on #278
Yeah, I can't remember why those don't show up in the overview. But, rest assured, we still get a Slack notification for these comments marked as spam so most of them should be approved by HQ already, sometimes one slips through unfortunately!

[2018-07-10 07:16] BatJan commented on #278
I'm sure you do :)

Just adding it in case a chance comes up to have a look at the issue so admin can approve them as well.

[2018-07-10 14:18] #182 closed

[2018-07-10 14:24] nul800sebastiaan commented on #264
I've now switched to a token that uses the `private` scope as well. Is that all I need to do and then refresh the cache or was there more required?

[2018-07-10 14:25] abjerner commented on #264
@nul800sebastiaan should be enough to update the cache ... or just wait a bit as the cache should be automatically updated ;)

[2018-07-10 14:32] readingdancer commented on #264
great news, well done everyone for diagnosing and fixing this one 👍

[2018-07-10 14:57] nul800sebastiaan commented on #264
That's more like it, the play count is now indeed updating correctly! 👍

[2018-07-10 14:57] #264 closed

[2018-07-16 11:36] clausjensen opened #280 "Documentation for blob storage with Umbraco Cloud"
Need to update https://our.umbraco.com/Documentation/Umbraco-Cloud/Set-Up/Media/ to include information about excluding specific entity types (media-file) from deploys since this is a required workaround to use Deploy with blob storage on Cloud right now.

[2018-07-16 11:57] nul800sebastiaan commented on #280
Make sure to move to this issue tracker https://github.com/umbraco/UmbracoDocs/issues
😉

[2018-07-16 11:57] #280 closed

[2018-07-24 09:47] bjarnef opened #283 "Update name reply-name"
I know @leekelleher is famous, MVP and awesome contributer to Umbraco, but can't I just reply **Lee Kelleher** instead of **Lee KelleherMVP 8xadminc-trib**? 😁🦄

![image](https://user-images.githubusercontent.com/2919859/43130574-44164078-8f37-11e8-9ea1-f5986310b623.png)

[2018-07-24 09:53] nul800sebastiaan commented on #283
lol!

I thought this was fixed.. weird.

[2018-07-24 10:03] hemraker commented on #283
I do think that is the only proper way to address that fine gentleman.

[2018-07-24 10:04] leekelleher commented on #283
I'm printing new business cards as we speak! 😆

[2018-07-25 15:56] abjerner opened #284 "Assemblies health check"
I haven't really worked on this since the retreat, but the idea was that we could have a health check that would validate assemblies against a list (one or more feeds) of known vulnerabilities (or just regular warnings and errors).

Primarily this would be the DLLs that ship with Umbraco (as discussed with @nul800sebastiaan, the Umbraco feed should most likely live on Our Umbraco - hence an issue

[2018-08-01 20:41] bjarnef opened #285 "Adjust category tags on mobile"
It seems some of the category tags need a bit adjustment on mobile layout.

![image](https://user-images.githubusercontent.com/2919859/43547279-1419a72a-95db-11e8-8154-b46603af985a.png)

e.g. a max-width:

[code]

![image](https://user-images.githubusercontent.com/2919859/43547370-5cc635e2-95db-11e8-8629-e7eae3360585.png)

On something like this:

[code]

![image](https://user-images.githubusercon

[2018-08-02 16:09] BatJan opened #286 "Idea: Add "workaround" option on a post?"
I just read this post https://our.umbraco.com/forum/umbraco-forms/92096-how-to-un-approve-record#comment-294310 where Ismail describes a workaround to an issue, which currently does not have a proper solution and it got me wondering if it would make sense to have an option to mark a post as a viable workaround if no proper/real solution exists to a certain issue?

Thoughts on this? 🤔

[2018-08-23 15:53] TimGeyssens opened #291 "Recent posts on homepage includes items marked as spam"
The recent posts bit on the homepage will often show new items that haven't been approved yet, so when you click on the link you don't see it since on the forum post itself it's marked as spam/not approved

[2018-08-23 19:26] TimGeyssens commented on #291
well that is if a new comment is added that is marked as spam, the post will bubble up again but you won't see the new comment

[2018-08-24 08:58] TimGeyssens commented on #291
Ok seems when a new comment is added the comment count and updated time of the topic is updated https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Forum/Services/CommentService.cs#L93 this doesn't check if the comment is spam or not....

[2018-09-02 09:24] bjarnef opened #293 "Contribute link is broken"
It seems the contribute link in the navigation on Our is broken.

At the moment it links to:
https://our.umbraco.com/contribute/ which redirect to https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/docs/CONTRIBUTING.md which doesn't exists anymore.

I guess it should link to this instead.
https://github.com/umbraco/Umbraco-CMS/blob/dev-v7/.github/CONTRIBUTING.md

Maybe there are other broken links

[2018-09-02 09:30] nul800sebastiaan commented on #293
Unfortunately not much we can do, the redirect has been updated but since it used to be a 301, your browser caches it. A cache refresh helps. 😕

[2018-09-02 09:44] #293 closed

[2018-09-03 12:34] bjarnef opened #294 "Link to public profile page is broken"
When I click the "view my public profile" link in the quick menu it now seems to return an error page.
E.g. the link to my profile page https://our.umbraco.com/member/12901

![screenshot_20180903-143655_chrome](https://user-images.githubusercontent.com/2919859/44987747-8a916e80-af88-11e8-9a75-206790320bd8.jpg)

https://our.umbraco.com/error/?aspxerrorpath=/member/

[2018-09-03 12:47] bjarnef opened #295 "Adjust form fields on edit profile"
The form fields when eiditing profile need a bit adjustments for mobile devices. It would probably be better to place the labels above the form fields on mobile screen sizes.

![screenshot_20180903-144305_chrome](https://user-images.githubusercontent.com/2919859/44987689-57e77600-af88-11e8-99ca-b447e6df9d3b.jpg)

[2018-09-03 13:56] nul800sebastiaan commented on #294
Ah shoot, I might have deployed something a little prematurely, thanks @bjarnef - I'll have a look very soon! 👍

[2018-09-04 11:51] nul800sebastiaan commented on #294
Fixed in https://github.com/umbraco/OurUmbraco/commit/0ee0de0c075164a7436a920bf718f750b5da4a95

[2018-09-04 11:51] #294 closed

[2018-09-06 16:08] villian commented on #295
added pull request - https://github.com/umbraco/OurUmbraco/pull/296

[2018-09-10 11:27] bjarnef opened #298 "Heading is the same for updated and popular packages"
It seems the heading _Browse most popular packages_ it the same for these pages:
https://our.umbraco.com/packages/?orderBy=updateDate
https://our.umbraco.com/packages/?orderBy=popularity

However for the other filter options the heading change:
https://our.umbraco.com/packages/?version=7
https://our.umbraco.com/packages/?version=6
https://our.umbraco.com/packages/?version=4

https://our.umbraco.co

[2018-09-10 12:17] FransdeJong opened #299 "Links to the new (github) issuetracker are broken on a release detail page"
The links to the new issuetracker are broken.
The url looks like:
https://github.com/umbraco/Umbraco-CMS/**issue**/issues/2939
instead of:
https://github.com/umbraco/Umbraco-CMS/issues/2939

[2018-09-10 13:42] FransdeJong commented on #299
That was faster than I could fork the project ;)

[2018-09-10 16:12] villian commented on #298
added PR - https://github.com/umbraco/OurUmbraco/pull/300

[2018-09-11 10:04] villian opened #302 "Some of member's posts are little bit not perfect"
On member profile page -> member posts list -> some posts are broken

![image](https://user-images.githubusercontent.com/6407659/45353295-24799c80-b5c3-11e8-922e-103d380ca76c.png)

[2018-09-11 14:42] villian commented on #302
For reproducing go to member profile page => Activity block :

https://github.com/umbraco/OurUmbraco/pull/304

[2018-09-11 14:43] villian commented on #302
added PR - https://github.com/umbraco/OurUmbraco/pull/304

[2018-09-11 14:58] villian commented on #248
There is a 5 minutes cache for this block. I think it's confusing because of caching. Ordering made here:

[code]

[2018-09-21 09:50] bjarnef opened #310 "Missing decoding of html entities"
I saw saw this in the SignalR response.

![image](https://user-images.githubusercontent.com/2919859/45873881-c18ebf00-bd93-11e8-96d2-c3e13552fcec.png)

After comment was posted:

![image](https://user-images.githubusercontent.com/2919859/45873991-04e92d80-bd94-11e8-9315-9804d5d13d45.png)

It seems to be an issue somewhere in this part: https://github.com/umbraco/OurUmbraco/blob/2a23d2c45f8f55bb005

[2018-09-27 10:29] PeteDuncanson opened #312 "Add upcoming Festivals to the Our homepage"
Noticed we have upcoming meets up on the homepage but not conferences/festivals. Would be a good idea get these added to help improve awareness, show reach of Umbraco, show off the amazing community and help sell tickets for those partners who are paying to put it on.

Ideally it should show the next 3 festivals with links to them and I link to see all which I guess would link to the umbracofestiv

[2018-09-27 10:35] nul800sebastiaan commented on #312
Which reminds me, Marcin was supposed to add the festival functionality to Our at the Poland hackathon. We're all agreed it should be on Our for sure!

[2018-09-27 10:37] abjerner commented on #312
@nul800sebastiaan what happened to this one https://github.com/umbraco/OurUmbraco/pull/184 ? Is it still just hidden for now?

[2018-09-27 10:42] nul800sebastiaan commented on #312
Whoa!!

My brain had blanked on that one, thanks @abjerner!

Will have a look tomorrow!

[2018-09-27 10:44] abjerner commented on #312
I think it is in much need of some design and/or frontend skills though 😮

[2018-09-27 10:46] nul800sebastiaan commented on #312
Yeah... But minimum viable product 😁

[2018-09-27 18:57] mzajkowski commented on #312
Indeed! I was occupied during the festival preps. I'm happy to help with it next week(s).

[2018-10-08 10:05] bjarnef opened #315 "Page for all releases is a bit hidden"
I think the page for all releases (incl. latest, previous and upcoming) is a bit hidden after the download page  was re-designed. https://our.umbraco.com/download/

If you don't know Our very well, it might bit hard to find.

![image](https://user-images.githubusercontent.com/2919859/46602583-e6ec2e80-caf0-11e8-95d4-15c2a96d9c00.png)

And since the download page doesn't list the subpages as here:

[2018-10-12 08:19] bjarnef opened #320 "Crop size of image used as package icon"
I think we should crop the size of the image, which are use as package icon, which appear in the results of packages.

E.g. try searching for "h-tag":

![image](https://user-images.githubusercontent.com/2919859/46856926-01cbe500-ce08-11e8-90f0-19dfe15c86ab.png)

E.g. this default image (icon) for this package, breaks the layout a bit.
https://our.umbraco.com/packages/backoffice-extensions/tag-mana

[2018-10-15 09:31] umbracowulser opened #321 "Make searches for 3 letter words return better results"
Searching for MVC, CSS or FAQ in the documentation doesn't return any results even though the content exists.

[2018-10-16 11:09] ed-parry commented on #321
Hi @umbracowulser - I'm trying to replicate this one but searching for all three examples is returning results for me at the moment - are you still getting blank results? Wondering if it could have been a temporary indexing issue, or someone's already fixed it?

![image](https://user-images.githubusercontent.com/514825/47012561-576ffc80-d13c-11e8-97e3-e228bac20dc8.png)

[2018-10-17 06:21] umbracowulser opened #322 "As an editor or Goldpartner I would like to view Goldpartner pages in listview"
Wrong tracker

[2018-10-17 06:22] #322 closed, assigned to hartviglarsen

[2018-10-18 07:48] #283 closed

[2018-10-18 07:49] #285 closed

[2018-10-18 07:50] #302 closed

[2018-10-18 08:16] bjarnef opened #324 "Umbraco 7 tag doesn't link to any page"
For this forum thread it has two categories/tags: "Using Umbraco And Getting Started" and "Umbraco 7".
https://our.umbraco.com/forum/using-umbraco-and-getting-started/89962-image-preprocessing-on-upload-to-media

The first one links to https://our.umbraco.com/forum/using-umbraco-and-getting-started/ but the second one doesn't link to any page.

![image](https://user-images.githubusercontent.com/29

[2018-10-22 17:16] akshatnitd opened #328 "LICENSE info missing from the README.md"
* LICENSE info missing from the README.md

[2018-10-22 17:16] #328 closed

[2018-10-25 17:50] kumaran-14 commented on #324
If the link is provided i could make a pr.

[2018-10-29 20:35] sarnava1 commented on #324
@bjarnef @nul800sebastiaan please assign this issue to me. I am working on this.

[2018-10-30 07:01] sarnava1 commented on #324
@bjarnef @nul800sebastiaan please can you give me the link where the anchor tag should refer to?

[2018-10-30 15:54] sarnava1 commented on #324
@bjarnef @nul800sebastiaan shall I remove the href tag?

[2018-11-07 05:27] readingdancer opened #345 "The Compare Versions page links to the OLD issue tracker."
If you compare two versions of Umbraco on the Our website like this page:

https://our.umbraco.com/download/releases/compare?from=7.12.3&to=7.12.4

The links point back to the old issue tracker and for all new issues since the change over to GitHub, these links should be pointing to GitHub issues.

[2018-11-08 10:57] nul800sebastiaan commented on #345
Thanks @readingdancer - that's an oversight! Should be easy to fix, we have a switch in the release notes already that lists the correct links. Want to give it a go?

[2018-11-08 13:16] readingdancer commented on #345
Hi @nul800sebastiaan

I would be happy to do this if I could get the Our solution up and running again, but I am still sat in the limo with a broken DB, if you recall, the DB in the solution is out of sync with your live DB. It would be great if someone could fix this so its easy to spin up the OUR solution again :)

Cheers,

Chris

[2018-11-11 16:13] abjerner commented on #245
I had another look at this, and realized that Our Umbraco now does clone/pull the documentation via Git, so we can now query the local repository as we discussed earlier.

This means that we can do something like:

[code]
A downside here is that it apparently takes libgit2sharp about 700 ms (on my machine) to query the file I'm testing with (but also as discussed earlier, we should be able to cach

[2018-11-11 21:03] abjerner commented on #245
Small PoC, although not fully automatic yet. And only based on GitHub data - not Our members.

![image](https://user-images.githubusercontent.com/3634580/48318209-0b11c280-e5fd-11e8-9f54-cdc26e580de9.png)

[2018-11-12 07:30] nul800sebastiaan commented on #345
Yep, I remember that. I've sat next to two people at the hackathon last week who did a fresh clone of the repository and the database was just fine. We did need to increase a SQL server timeout for one of them and that change has now been committed as well. So I would encourage you to try again with a fresh clone.

The data is still outdated but that is just fine, you should have all the data need

[2018-11-12 14:01] readingdancer commented on #345
Hi @nul800sebastiaan
I'll try and give it another go later and will let you know, fingers crossed :)
Cheers, Chris

[2018-11-14 22:03] SteveVaneeckhout opened #348 "Unable to register"
I tried to register a new account but I stumbled upon 2 issues:
- The Google Maps component shows an error "Google Maps can not be loaded correctly. [Do you own this website?](https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=places_js&utm_medium=degraded&utm_campaign=keyless#api-key-and-billing-errors)"
I suspect this has something to do with the billing inform

[2018-11-14 22:10] abjerner commented on #348
@SteveVaneeckhout sucks a bit that you're not able to register.

I did just check out the register page, at both the map and the captcha seem to work as they should:

![image](https://user-images.githubusercontent.com/3634580/48515786-01d55f80-e862-11e8-99fc-3b346c156e9f.png)

To help finding the culprity, can you help with what browser you are using? And are you by any chance using an ad-blocker?

[2018-11-14 22:40] abjerner commented on #348
Thanks for reporting 👍

If Firefox's tracking protection can cause problems like this, it may be something that should be looked into. @nul800sebastiaan any thoughts?

[2018-11-15 10:05] nul800sebastiaan commented on #262
I think it should almost work now that @abjerner has added syntax highlighting to the docs: https://github.com/umbraco/OurUmbraco/pull/332

It seems like all we need is some styling on forum posts and comments? Not sure.

[2018-11-15 10:13] nul800sebastiaan commented on #253
Hey guys, thanks for creating this issue, I set it to `up-for-grabs` but then realized it wasn't actually possible at the moment without a huge overhaul. I will close this for now and add the `idea` label on it so we can revisit it in the future when we/you have a more time to work on this.

[2018-11-15 10:13] #253 closed

[2018-11-15 10:16] nul800sebastiaan commented on #248
Yeah, as @villian says it's due to caching. If anyone wants to take a stab at fixing it that would be cool, it should be possible to temporarily add things to the cache while we wait for it to expire I think, not sure?

For now I'll close it as it does work "eventually", but feel free to open a PR for this. I've put the `idea` label on it so we can revisit it later when we have some more time to s

[2018-11-15 10:16] #248 closed

[2018-11-15 10:17] nul800sebastiaan commented on #245
That is wonderful @abjerner ! Hopefully we'll have some time next week when we're all together to wrap this one up and ship it!

[2018-11-15 10:19] nul800sebastiaan commented on #231
I'm keeping my 🤞 that this just happened to fix itself magically somehow. I'll close this issue for now until we can reproduce it.

Thanks!

[2018-11-15 10:19] #231 closed

[2018-11-15 10:21] nul800sebastiaan commented on #211
This has been open for a while now and it's still a good idea but it seems like nobody has had time to pick it up.

I'll close this for now and add the `idea` tag so we can find it later when we have some more time to spend on this.

Thanks!

[2018-11-15 10:21] #211 closed

[2018-11-15 10:28] abjerner commented on #262
@nul800sebastiaan my PR specifically targeted the docs. But if the forum uses Markdig as well, it's just adding a single line:

https://github.com/abjerner/OurUmbraco/blob/dfad0158eea633e7a0e9500f953c9865872542a8/OurUmbraco/Documentation/Busineslogic/MarkdownLogic.cs#L65

...and then the same styling that I applied to the docs.

[2018-11-16 11:15] #295 closed

[2018-11-16 11:22] #298 closed

[2018-11-20 16:02] nul800sebastiaan commented on #320
Hehe, yeah that looks less than ideal!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-26 11:47] prjseal opened #354 "Package Details Page: Show the creator's badges under their profile picture"
I think it would be good to be able to see the badges of the person who created the package under their profile picture.

It would give the person looking at the package more confidence if they can see the creator has badges such as HQ, MVP, C-Trib, Admin etc.

It would look something like this:

![Diplo Trace Log Viewer](https://i.imgur.com/0mdTHAD.jpg)

[2018-11-27 10:01] nul800sebastiaan commented on #354
Sounds good to me @prjseal !

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-11-27 10:06] prjseal commented on #354
Thanks @nul800sebastiaan
I'll try and have a go at it. Will be my first PR on Our, if someone else doesn't beat me to it.

[2018-11-27 11:03] nul800sebastiaan opened #355 "Need to add a `Releases.json` to the readme since it is required to work on the releases pages"
Example:

[Releases.zip](https://github.com/umbraco/OurUmbraco/files/2619593/Releases.zip)

Needs to be present in the `OurUmbraco.Site\App_Data\TEMP` folder.

[2018-11-27 16:42] abjerner opened #356 "Umbraco meetup.com groups"
I saw @ilhambo's [tweet](https://twitter.com/ilhamaa/status/1067381608049754113) from earlier today, and noticed that the list on Meetup.com has a lot fewer groups than in the file used on Our Umbraco: https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/config/MeetupUmbracoGroups.txt

Is this just while the groups from Our are still being added on Meetup.com (I see the list has grown

[2018-11-27 16:56] ilhambo commented on #356
Hi Anders. The list on meetup.com is not complete as not all organizers have agreed to join. Also, there are some groups that haven’t been active in a long time so I’m in the process of reaching out to them to see if there is still interest in holding meetups. Hopefully, everyone will eventually join :)

[2018-11-27 18:13] abjerner commented on #356
Thanks for the answer. I'll keep and eye on the list then and whether it makes sense to update the code at Our Umbraco 😉

[2018-11-29 13:09] hartvig opened #358 "Feature: Set specific release progress on a release"
Add a property on a release where it's possible for HQ admins to manually set a progress, so that for non-patch releases the progress is not calculated based on number of closed issues.

Background: For patch releases where it's purely bug fixes the automated calculation works fine, but for minor and major releases where new features are added the math is skewed as a feature such as "adding multi-

[2018-11-30 11:33] #358 closed

[2018-11-30 12:04] prjseal commented on #354
I still can't get the packages page to work, even with a db backup from @abjerner so I will not be working on a PR for this one. So anyone reading this who can get the dev site to work properly, feel free to take this one.

[2018-11-30 12:06] nul800sebastiaan commented on #354
@prjseal How come? Let's solve this. 🙂

[2018-11-30 12:18] prjseal commented on #354
@nul800sebastiaan I rebased the repo, built it, let it install all of the npm packages etc, used @abjerner db backup and his migrations, ran the site, republished the site, rebuilt all of the indexes and still I can't view the packages page. It just shows as a 404. Custom errors are off so it's not hiding a 500 with a 404 error page message. Don't know what is wrong or where to start to solve it.

[2018-11-30 12:22] abjerner commented on #354
@prjseal Didn't you also get some errors when going to the packages page in the backoffice? If so, posting the stack trace here might help determining what the culprit is.

[2018-11-30 12:45] prjseal commented on #354
@nul800sebastiaan I already republished the entire site.

I just ran the health check and got these errors.

![health check](https://i.imgur.com/trPYdq3.jpg)

[2018-11-30 13:10] prjseal commented on #354
@abjerner I can get to the address 'https://our.localtest.me/umbraco#/content/content/edit/1113' now without an error since using your database, but I still can't view the page on the front end.

[2018-12-05 10:21] mortenbock opened #362 "Comments disappearing"
I've experienced this a couple of times today. I added a comment, and when refreshing the page, it was no longer there.

I also received an email with a new comment from Shannon, but when following the link, it was gone:

https://our.umbraco.com/forum/contributing-to-umbraco-cms/94836-provider-model-for-search-and-indexing#comment-300079

I don't know if the actual comment is gone, or if it is mis

[2018-12-05 17:00] abjerner opened #363 "Breadcrumb for the documentation is too dependent on the URL"
The breadcrumb for the documentation is based on the URL of each page, and therefore also reflects the casing of the URL. This may not be super important, but it differs from rest of Our, which uses lower case URLs.

As a versioned page is just another file, the name is also part of the URL - eg. `index-v8`. With this being part of the URL, it also shows up in the breadcrumb.

![image](https://use

[2018-12-07 11:46] nul800sebastiaan commented on #356
For now, I've added the Nepal group! And for the foreseeable future we'll keep adding to that list, so I'll close this issue for now!

[2018-12-07 11:46] #356 closed

[2018-12-11 14:58] nul800sebastiaan commented on #227
Forgot to close this issue after merging #237

[2018-12-11 14:58] #227 closed

[2018-12-11 21:52] nul800sebastiaan commented on #362
This is now fixed, it's a little silly:

- We only have 2 levels of comments
- When someone comments on a second level comment normally, we set the parent Id to the 1st level comment
- However when we push a new comment into the DOM, it grabs the Id to set the parent to from the comment that was just added (the one that is highlighted and you're commenting on).
- This means that you're adding a co

[2018-12-11 21:52] #362 closed

[2018-12-17 11:13] nul800sebastiaan commented on #363
Thanks @abjerner - I think the Docs team is working on something like this already. Any feedback @jmayntzhusen ?

[2018-12-17 11:21] jmayntzhusen commented on #363
We have been working on something similar with seo titles / descriptions, but we dont have anything for breadcrumbs for now. I agree that it could definitely be improved though, and that any "-v" filenames should be changed or removed from the breadcrumb to something better 🙂

[2018-12-18 12:06] stevetemple opened #365 "Contributors list on homepage is only collecting first 100 contributors for each repo"
The endpoint being used is returning a maximum of 100 results and doesn't support paging:
https://api.github.com/repos/umbraco/Umbraco-CMS/stats/contributors

I'm going to try changing the call used to
/repos/:owner/:repo/contributors

Or alternatively try the v4 GraphQL API

[2018-12-18 12:14] nul800sebastiaan commented on #315
Thanks @bjarnef - would agree that it's a bit hard to find. I think all your proposals sound pretty good!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2018-12-18 13:17] nul800sebastiaan commented on #365
@stevetemple Yep, we already have all of the data downloaded as json files for the release notes. Please don't start with GraphQL yet, we have nobody to review it properly due to missing knowledge! :-)

Unfortunately, you won't be able to download all the data right now but I'll see if I can post a zip.

[2018-12-18 13:19] nul800sebastiaan commented on #365
This needs to be unzipped in: `OurUmbraco.Site\App_Data\TEMP\`

https://umbracoreleases.blob.core.windows.net/ourumbraco/GitHub.zip

It should look something like this:

![image](https://user-images.githubusercontent.com/304656/50156792-f695a980-02cf-11e9-8f8e-98a1492df00c.png)

[2018-12-18 14:00] stevetemple commented on #365
Ahh that seemed like the fun part!

[2018-12-18 14:01] nul800sebastiaan commented on #363
Should the breadcrumb (in this case) just be "Content Apps (v8)"?

[2018-12-18 14:54] stevetemple commented on #365
Oh, we really should try the GraphQL API it's actually umbazing, just been having a play as it's something I want to start doing anyway. Head over to https://developer.github.com/v4/explorer/ and stick in a query like

`query {
  repository(owner: "Umbraco", name:"Umbraco-CMS")
  {
  	pullRequests(first:100, states: MERGED) {
      edges
      {
        node{
          number
          url

[2018-12-18 16:18] nul800sebastiaan commented on #365
Looks good, no exclude all the HQ members and the people who are in the PR teams?

Lists:
-  https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/config/TeamUmbraco.json
- https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/config/githubhq.txt

And then.. you know, building this query from C# somehow 😁

[2019-01-09 03:19] readingdancer commented on #345
@nul800sebastiaan - Happy New Year :)

It took me a couple of months to get back to this, but finally I've submitted a Pull request to fix this issue. It took me a fair amount of time to get the solution actually working as the ZIP'ed DB is in a pretty unusable state!

For example, because all the users have been deleted, the back office is almost completely crippled as every page you try and edit

[2019-01-15 14:42] readingdancer opened #377 "Githib Master repository source does not match the live site?"
@nul800sebastiaan

I assumed that the Master branch would represent the latest changes that are pushed up to the live site?

Currently an issue that I fix in #372 looks like it has been pushed live, but it's not been Merged into the Master branch and there are no other changes showing that would have fixed it.

Maybe it's been merged offline and not been pushed up to Github?

[2019-01-17 15:19] nul800sebastiaan commented on #377
Not sure what you mean, it's definitely still the wrong link on live..

![image](https://user-images.githubusercontent.com/304656/51328420-a303b080-1a73-11e9-9529-1be693d4e4f0.png)

[2019-01-17 15:19] #377 closed

[2019-01-17 15:19] nul800sebastiaan commented on #345
Fixed in https://github.com/umbraco/OurUmbraco/pull/372

[2019-01-17 15:19] #345 closed

[2019-01-19 17:24] abjerner opened #378 "Versioned API docs"
I'm assuming the current API docs are based on the latest stable version of Umbraco, but is doesn't say so specifically.

https://our.umbraco.com/apidocs/ui/#/api
https://our.umbraco.com/apidocs/csharp/

Ideally it should be possible to select a specific version of Umbraco - or at least a specific major version, as Umbraco 8 is going to be released soon. As Umbraco 7 won't be put in the grave when

[2019-01-21 11:30] bjarnef opened #379 "Adjust line height on releases overview"
On this page https://our.umbraco.com/download/releases/progress the line height is overwritten, which make the text a bit squeezed.

![image](https://user-images.githubusercontent.com/2919859/51471751-dac26f00-1d77-11e9-8e15-d4c0fdfbcea2.png)

Furthermore I think the parent element with `col-xs-6` should be changed to something like `col-xs-12 col-sm-6` so it use full width on mobile screens and "

[2019-01-21 11:34] nul800sebastiaan commented on #379
Sounds good to me!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-25 13:15] BatJan opened #382 "Versions box needs z-index: 1"
Going through a bunch of documentation I stumbled upon this issue, which I by mistake originally posted at the issue tracker for the documentation here https://github.com/umbraco/UmbracoDocs/issues/1461 - So the below is just copy/pasted directly and edited a bit.

**What type of issue is it?**
Other: Minor CSS bug

**What article/section is this about?**
[Dropdown](https://our.umbraco.com/documen

[2019-01-25 22:54] hfloyd opened #383 "Defaults for New Packages"
I haven't added a package in awhile, but recently I have noticed several packages which have "No current release" and no forum. It seems that there should always be a forum created by default for every package, and every package should require a current release.

example: https://our.umbraco.com/packages/backoffice-extensions/two-way-picker/

[2019-01-27 12:13] nul800sebastiaan commented on #383
Yep, both would be excellent. The whole package creation process needs to be overhauled but making this the default would certainly be a good start!

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-28 04:12] readingdancer opened #384 "Update Gulp and all the client side build dependencies."
Gulp was using version 3.x and the latest version is currently 4.0 there were a lot of security vulnerabilities showing when you try and build the client side files.

Also the build script includes imagemin but is not using it, for some reason it is only compressing SVG images... twice!

Finally it is possible to run Gulp processes in Parallel, so assuming you have a multi-core machine you should

[2019-01-28 04:36] readingdancer commented on #365
@abjerner Hi, I noticed that the contributor list on Our doesn't update when you get V8 pull requests merged in, as you've probably seen I have submitted a few recently and was surprised the count didn't increase on the Our home page, now I know why :)

Have you made any progress on the indexing you mentioned above? I assume if you are going to be doing that, we shouldn't try and modify the curren

[2019-01-29 11:51] nul800sebastiaan commented on #382
Thanks @BatJan !

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-01-29 13:36] readingdancer commented on #365
Sounds good @stevetemple if you'd like to share it in a branch maybe someone can help with that bit? I'd like to say me, but this week I am pretty busy and next week I will be on a beach away from it all 🏖

[2019-01-30 09:58] UmbraGreen opened #386 "Add description for how to select more countries for a banner"

[2019-02-01 09:19] MichaelNielsenDK opened #387 "Add username and comment to package compatibility reporting"
When reporting on package compatibility, it should be mandatory to write a comment about what isn't working, along with the username.

It would help package developers and others helping to find and fix any bugs, or dismiss the report, if it was made in error because of misunderstandings.

It would also help others interested in using the package, as they might from the comment learn that the inco

[2019-02-01 13:54] KevinJump opened #388 "Umbraco 8 Package install, picks the Default Package not the v8 one"
Hi,
_This might be a mixture of Umbraco 8 or our.umbraco.com Issue - so Just throwing this in, as it will be more of an issue as more packages are added._

You can't as a package developer mark two packages as current (one for v7, one for v8) -
and in Umbraco 8 - when installing a package from the package section it picks the current one (not the v8.0 one) from the list of packages.

**Either**
Ou

[2019-02-04 11:13] nul800sebastiaan commented on #387
Hey @MichaelNielsenDK - this is an interesting request and I can certainly understand that it's frustrating not to know why there's negative reviews. However, this will also make the barrier even higher. Most people already don't leave a review at the moment, so adding requirements to reporting compatibility will make it even less likely that people will leave a review.

However, I think it would

[2019-02-04 11:14] nul800sebastiaan commented on #387
Hey @MichaelNielsenDK - this is an interesting request and I can certainly understand that it's frustrating not to know why there's negative reviews. However, this will also make the barrier even higher. Most people already don't leave a review at the moment, so adding requirements to reporting compatibility will make it even less likely that people will leave a review.

However, I think it would

[2019-02-04 11:14] #387 closed

[2019-02-04 11:54] MichaelNielsenDK commented on #387
It's true it would set the bar higher, but that would only strengthen and add value to the packages and the reporting system.

A report about a package not working is next to worthless for both other users and developers without any further information.

[2019-02-04 13:56] nul800sebastiaan commented on #388
Yes, I know, I'll need to fix it in Our.

[2019-02-05 09:39] nul800sebastiaan commented on #384
Fixed in https://github.com/umbraco/OurUmbraco/pull/385

[2019-02-08 09:57] #388 closed

[2019-02-08 09:58] nul800sebastiaan commented on #388
Oh @KevinJump .. ;-)

![image](https://user-images.githubusercontent.com/304656/52471115-5f8ef480-2b90-11e9-9f67-5eb68eedcfba.png)

I've fixed your latest uploads manually now, works!

![image](https://user-images.githubusercontent.com/304656/52471138-6e75a700-2b90-11e9-8683-bf71aa2f1e7f.png)

I've also updated the code, will roll out in the next few minutes. Thanks for reporting!

[2019-02-08 10:31] KevinJump commented on #388
Woot! - so I created the package directly in Umbraco 8 (but more than happy to just edit the files now i've done that once) does that need some flag to make it put this value in?

[2019-02-08 12:04] nul800sebastiaan commented on #388
Haha, I see what happened. Sorry, didn't mean to blame you, then it was totally us! ;-)

So we now create a package.xml with upper case "s" for "Strict" it looks like. Anyway, all fixed, Our understand any casing now and it won't be a problem in the future. Thanks very much for reporting! 👍 🏅

[2019-02-08 12:05] nul800sebastiaan commented on #388
Fixed in https://github.com/umbraco/OurUmbraco/commit/3c68537bf1838447f1a575a1e746ff1243d646c9 by the way and was deployed immediately, so won't be a problem from now on!

[2019-02-11 12:16] stevetemple commented on #365
@nul800sebastiaan is there a particular reason you don't cache some of this data in the DB? I've been working on a bit of a prototype that drives this community members list by PR. So the number of merged PRs then the additions and deletions inside those PRs summed. I'm storing in the DB a cache of PR data. Would that be a problem?

[2019-02-11 13:47] nul800sebastiaan commented on #365
I don't know if it will be, we've basically just worked with json files and application cache since it's very deploy-able and easy to manage. If we need to add stuff to the DB we'll also need migrations for it so it can go live without interruptions.

[2019-02-11 22:35] stevetemple commented on #365
I've created a PR for the changes I looked at: https://github.com/umbraco/OurUmbraco/pull/391

This looks a lot better, seems AFAIK to look better so newer/v8 committers are showing up.

[2019-02-12 10:52] stevetemple commented on #312
Ooh let's do this ASAP, it would help promote my conference :)

[2019-02-12 21:53] readingdancer commented on #384
Closing the issue as it's now been merged in.

[2019-02-12 21:53] #384 closed

[2019-02-22 08:29] skttl commented on #246
I was just looking for some help on using the ncNodeName filter for naming templates on Nested Content, and found this very helpful article: https://our.umbraco.com/documentation/Getting-Started/Backoffice/Property-Editors/Built-in-Property-Editors/Nested-Content#configuring-nested-content

Really good stuff - so I thought it would be great if you could give some kind of quick feedback (like the h

[2019-02-24 00:11] mzajkowski opened #394 "Cannot add / upload image in the post reply"
Undefined error while uploading standard (80kb) PNG file in the reply: https://cl.ly/cc9f5c435e96

No console issues or errors and any other pointers to the possible cause.

[2019-02-25 08:51] nul800sebastiaan commented on #382
Jesper applied it and this is deploying now. 👍

[2019-02-25 08:51] #382 closed

[2019-02-26 12:12] PeteDuncanson opened #396 "Could we list which languages a package supports out of the box?"
While doing some reading up on language files I got thinking if it might be possible to list which languages a package is setup to support out of the box. I guess this would just be a list of the lang files the package includes?

See details on lang files here:
https://our.umbraco.com/documentation/Extending/Language-Files/Language-Files-For-Packages/

Quick and dirty way is to just have check box

[2019-02-26 12:21] leekelleher opened #397 "Tweaking applying the new brand colours"
I assume this will ping you @nul800sebastiaan ... congrats on v8 launch and work done on new branding! 🚀 🎉 🌮

I was looking at how the colours have been applied to Our Umbraco and wondering if it's worth me (and/or community) spending time to tweak them? (or is it something done in-house HQ, under the eye of creative direction?)

Tinkering around in devtools, I came up with this...
![capture](http

[2019-02-26 12:22] nul800sebastiaan commented on #397
Thanks lee! It was a quick and dirty job for now, but I'm sitting with mr. ClausK later this week to do some more tweaking, so don't spend too much time on it now.

[2019-02-26 12:23] PeteDuncanson commented on #396
Had a quick poke into this one. Seems that if you open a package zip there should be a package.xml file in the root and within there you can get a list of files in the xml. Could do a quick if endsWith("Lang") check on the orgPath element to assume its a language file?

For Nuget we've have to download the file, open it as a zip (it is just a zip but with a different file extension) and then withi

[2019-02-26 12:26] leekelleher commented on #397
Thanks @nul800sebastiaan! No problem-o, thought it best to check first! 👍 ❤️

[2019-02-26 12:26] #397 closed

[2019-02-26 12:36] abjerner commented on #397
My first thought when I started scrolling (and the navbar disappeared), was that the site felt very "naked". I think Lee's suggestions would help fixing that.

But I'm sure Seb and Claus will cover that 👍

[2019-02-26 13:02] nul800sebastiaan commented on #397
One could argue that the pink looks a bit "nude" though. 😅

[2019-02-26 14:16] stevetemple commented on #397
You make that sounds like a bad thing

[2019-02-27 04:34] ItagMichael opened #398 "Bad url encoding in password reset emails"
To reproduce:

1. Request a password reset with an email containing a '+' character
2. Receive an email with the following link:  https://our.umbraco.com/member/reset-password/?token=abc&email=me+our@example.com
3. Follow it to be told Our "Can't reset your password with the provided information"

Solution:

Encode characters in the password reset URL. The following URL works: https://our.umbraco.

[2019-02-27 08:10] Matthew-Wise opened #399 "Profile links to wrong member"
I assume it due to the "-" in the user name.

https://our.umbraco.com/members/Matthew-Wise/

[2019-02-27 08:15] nul800sebastiaan commented on #399
Again? Stop updating your username! ;-)

[2019-02-27 08:16] Matthew-Wise commented on #399
Am not sure it was fixed :)

[2019-02-27 08:17] nul800sebastiaan commented on #399
Aah! Yes, I thought I fixed yours recently but I guess not! Good point, it has to be because of the `-`.

[2019-02-27 08:18] abjerner commented on #399
@nul800sebastiaan can you confirm that https://github.com/umbraco/OurUmbraco/pull/375 is part of live? Both in the view and the rewrite rules?

I think I tested locally that my PR fixed the bug. If not, I can have another look at it 😉

[2019-02-27 08:20] nul800sebastiaan commented on #399
Aaah yes, Anders fixed it, cool!
Well.. unfortunately the web.config update didn't go through since we use the `.vsts.config` now haha. I'll fix it up now.

[2019-02-27 08:24] nul800sebastiaan commented on #399
All fixed, enjoy your new and improved profile that actually shows YOUR info! ;-)

[2019-02-27 08:24] #399 closed

[2019-02-27 11:43] nul800sebastiaan commented on #396
Thanks @PeteDuncanson - I'm struggling with the actual relevance for this for most people:

1. How many people using a package actually care whether it's properly translated or not? I haven't seen anyone requesting a translation for packages, granted I don't follow all the issue trackers closely
2. The overview page for a package is already pretty cluttered, do we need to add even more info to thi

[2019-02-28 07:45] bjarnef opened #401 "Packages page under profile is broken"
When navigating to your Our profile the left navigation has a menu item "Packages" which link to `/member/profile/packages/`.

![image](https://user-images.githubusercontent.com/2919859/53549519-a8552000-3b34-11e9-8509-0302add3059c.png)

However it seems this page in broken since it returns 302 Found and shows this page.

![image](https://user-images.githubusercontent.com/2919859/53549634-f9651400

[2019-02-28 07:52] nul800sebastiaan commented on #401
Thanks, related to the Cloud outage at the moment.

[2019-02-28 07:54] nul800sebastiaan commented on #401
Ah nope, sorry different issue. No idea why yours doesn't work, mine does. 🤔

[2019-02-28 07:56] nul800sebastiaan commented on #401
Some kind of null reference error on `GetListingsForContributor` - will get back to this later.

[2019-02-28 13:51] PeteDuncanson commented on #396
Defo just "an idea" this one.

My logic was simply that "its the friendly CMS" and showing that you could install a package and know that it was already translated might:

* Increase the view of Umbraco as a global project that "has your back" with sign posting that translations matter and are available
* Make a better editor experience (yes developers often know English but Editors might not and

[2019-03-01 12:25] bjarnef opened #402 "Set max width of images in project description"
In a project/package description it is possible to insert images, but these should probably be styled with `max-width:100%;` so it doesn't break the layout:
https://our.umbraco.com/packages/backoffice-extensions/svg-icon-picker/

![image](https://user-images.githubusercontent.com/2919859/53638056-4e805300-3c25-11e9-83a2-6c547138ddd9.png)

If I move the image up in the DOM it would looks like this:

[2019-03-01 21:50] jamiepollock opened #403 "Bringing the Contribute link back into Our Umbraco"
Hey folks!
As part of the Umbraco Community Package Team, one of the actions we're looking to achieve is changing the Contribute link in the main navigation to go back into a page Our Umbraco rather than a github link.

The justification for this is there are many ways to contribute to Umbraco. Not necessarily just to the Core CMS but also to package development, docs, hosting a meet up, etc.

Obv

[2019-03-01 22:01] jamiepollock commented on #403
The new [Umbraco Organiser Guide](https://github.com/umbraco/organizer-guide) might also be a good fit for a new contribute section too.

[2019-03-07 11:05] nul800sebastiaan commented on #394
Can't reproduce mate, works for me 🙈

Try a different browser maybe? Could be a browser plugin.

[2019-03-07 11:05] #394 closed

[2019-03-14 07:40] kjsguld opened #404 "Mismatch between label and input"
Page in question: [https://our.umbraco.com/member/forgot-password/](https://our.umbraco.com/member/forgot-password/)

The label for the field asks for "Username", but validation asks for "Email address"

![image](https://user-images.githubusercontent.com/19648887/54339188-5fbd5c80-4634-11e9-8d0c-988208445f7c.png)

Reproduction steps:
enter "username" in field

Fix:
Change label to say "Email addre

[2019-03-14 08:19] bjarnef opened #405 "Highlight requirements on download page"
Maybe the requirements should be highlighted a bit on the download page.
https://our.umbraco.com/download/

E.g. by using the red color in the logo.

[code]

![image](https://user-images.githubusercontent.com/2919859/54341345-fa6c6a00-4639-11e9-86b1-5587db368e3b.png)

or a bit transparent (or with some white in the red color).

[code]

![image](https://user-images.githubusercontent.com/2919859/543

[2019-03-14 08:36] nul800sebastiaan commented on #405
Thanks but that red just looks like: DANGER, DANGER.

I made it blue instead :)

![image](https://user-images.githubusercontent.com/304656/54342389-95feda00-463c-11e9-9895-c4378473508c.png)

[2019-03-14 08:36] #405 closed

[2019-03-14 08:39] nul800sebastiaan commented on #403
Hey Jamie! I am very happy for that, however I don't want to maintain a CONTRIBUTING.md on CMS and make sure it's in sync with the one on Our, so somehow we'll need to pull in the existing markdown files (both the high-level + detailed contribution guidelines) to the new contribution section.

But yes yes yes, a hub would be great! If you're happy to work on that then I'm happy to guide you. :)

[2019-03-14 08:42] nul800sebastiaan commented on #404
Relates to https://github.com/umbraco/OurUmbraco/issues/398

[2019-03-14 08:44] bjarnef commented on #405
Yeah, it the red has too much color. And an yellow background probably isn't better 😁

Not sure if there is a secondary color complementary to the blue color - I guess it can be too much blue on some pages, but let's keep the blue color for now 👍

[2019-03-14 16:14] nul800sebastiaan commented on #398
That's a bit annoying indeed! :-)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 18:13] nul800sebastiaan commented on #402
Sounds good, we'll need to do some parsing through HtmlAgilityPack I think.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-03-14 19:00] bjarnef commented on #402
A quick solution is to add `max-width:100%;` on `img` element in this container.

[2019-03-14 19:07] nul800sebastiaan commented on #402
Ah, even easier! Sounds good.

[2019-03-14 20:49] nul800sebastiaan commented on #286
Sorry for the (very) late reply @BatJan  🙈

It's a nice thought mate but I don't think we want to complicate the forum with something like that. 😄

[2019-03-14 20:49] #286 closed

[2019-03-18 08:29] bjarnef opened #409 "Github style for code blocks"
Adding a code inline block a single method, controller, service works great with a single literal backtick ``(`)``, but three literal backtick ``(`)`` with a line break doesn't create a code block in e.g. comments, like on Github. At the moment it seems four spaces create the code block, but sometimes this doesn't work  great when you want to split some code into multiple code blocks, where you ne

[2019-03-18 13:51] bjarnef commented on #409
Furthermore it seems Slack also likes the single and three backticks to format code 👍

[2019-03-20 16:34] abjerner commented on #409
@bjarnef I think the current issue is that Markdown in the forum is sometimes being rendered via JavaScript - eg. the preview when creating a new thread or comment. Or when posting a new comment, as this is done async, and there is no page load. I'm not sure how much we can do with the JS parser.

The documentation already uses GitHub flavored Markdown, which among other things, is why we can have

[2019-03-21 08:14] Matthew-Wise commented on #320
This can be closed as the PR is merged and live :)

[2019-03-21 09:16] #320 closed

[2019-03-21 15:26] jamiepollock commented on #403
@nul800sebastiaan sorry I'm so late in responding to this. Sounds great. I'll give it some thought and get back to the group on this news. Maybe between us we can get some ideas together.

[2019-03-23 21:34] nathanwoulfe commented on #403
Re pulling the .md from GitHub - GH API has an endpoint to request individual files, and can have an accepts header set to return markdown as HTML. Can't remember the specifics, but it's pretty simple and would avoid duplication.

[2019-03-23 21:38] nathanwoulfe commented on #403
Example in the GetDocs method here => https://github.com/nathanwoulfe/Plumber8/blob/master/Plumber.Core/Services/Implement/SettingsService.cs#L60

[2019-03-25 07:04] tranphuongyd opened #414 "Examine cannot index"
Hi everyone,

Today I get the issue when run search function, that using Examine API. However, yesterday it's work fine.
![image](https://user-images.githubusercontent.com/7795756/54900599-769e6180-4f06-11e9-84a0-a199c3a2a2d3.png)

So I try to access the Examine Management in Umbraco CMS to check. then get the error: "The index cannot be read and will need to be rebuilt". After do rebuilt the sear

[2019-03-25 08:07] nul800sebastiaan commented on #414
Hi there, make sure to get some help on the forum: https://our.umbraco.com

[2019-03-25 08:07] #414 closed

[2019-04-08 17:24] bjarnef opened #418 "Link to release notes include double slashes"
On e.g. this page https://our.umbraco.com/download/releases/ the link the each release note include double slashes in url, e.g. https://our.umbraco.com/download/releases//801

Accessing the page via https://our.umbraco.com/download/releases/801 also work though.

[2019-04-23 02:53] Tyriar opened #420 "Getting started link point at a 404"
Getting started link here: https://our.umbraco.com/download points at https://github.com/umbraco/Umbraco-CMS/blob/dev-v8/.github/V8_GETTING_STARTED.md

[2019-04-23 07:05] #420 closed

[2019-04-23 07:06] nul800sebastiaan commented on #420
Thanks, those links shouldn't have been there any more.

Make sure to follow the documentation for install and setup guidance! https://our.umbraco.com/documentation/Getting-Started/Setup/Install/

[2019-04-23 18:51] nul800sebastiaan commented on #401
Fixed in https://github.com/umbraco/OurUmbraco/pull/412

[2019-04-23 18:51] #401 closed

[2019-04-23 18:52] nul800sebastiaan commented on #404
Fixed in https://github.com/umbraco/OurUmbraco/pull/412

[2019-04-23 18:52] #404 closed

[2019-04-23 19:08] nul800sebastiaan commented on #401
This has been deployed now, did it work @bjarnef ?

[2019-04-23 20:12] bjarnef commented on #401
@nul800sebastiaan well, I only see the "profile" link in left navigation, so I can't check what the previous "packages" link does?

![image](https://user-images.githubusercontent.com/2919859/56612412-a5e2e400-6614-11e9-9342-f8ac5c5f8e76.png)

[2019-04-24 08:13] nul800sebastiaan commented on #401
@bjarnef That.. is very weird! It should just list the children of a certain node. What happens when you go to https://our.umbraco.com/member/profile/packages/ ?

[2019-04-24 11:15] bjarnef commented on #401
@nul800sebastiaan on packages page it shows this.

![image](https://user-images.githubusercontent.com/2919859/56655044-fea49200-6691-11e9-9949-5afb52e42872.png)

On this page https://our.umbraco.com/member/profile/

![image](https://user-images.githubusercontent.com/2919859/56655186-62c75600-6692-11e9-80c0-f07d128b9440.png)

It was just the public profile page (available as link via right offcanva

[2019-04-24 11:17] nul800sebastiaan commented on #401
Okay, so it works again, good!

Packages created is there, packages contributed to not yet, think there's a feature request for that already

![image](https://user-images.githubusercontent.com/304656/56655541-60193080-6693-11e9-847d-10e824ffc193.png)

[2019-04-24 11:22] bjarnef commented on #401
Yes, it does 👍

Ahh, yes just need to scroll down the page 🙈

[2019-04-24 11:28] bjarnef opened #422 "Replace default package icon"
It would be great to replace the default package icon with either a font icon or SVG icon (SVG is probably preferable) with also these screen sizes and high screen resolutions nowadays.

![image](https://user-images.githubusercontent.com/2919859/56655998-a02ce300-6694-11e9-894f-e024530730ab.png)

https://our.umbraco.com/packages/

Maybe we should also have a separate property to select a package i

[2019-04-24 11:39] nul800sebastiaan commented on #422
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-04-29 06:23] nul800sebastiaan commented on #418
I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-01 10:01] poornimanayar commented on #354
PR in place https://github.com/umbraco/OurUmbraco/pull/425

[2019-05-01 10:29] BatJan opened #426 "Suggestion: Don't accept gif's as avatars?"
I just noticed that it's apparently possible to use a GIF for the avatar on the forum. Perhaps we should prohibit that? It's really distracting to look at imho - But maybe that's just me? 😃 See this post and spot the gif avatar 😉 https://our.umbraco.com/forum/umbraco-7/using-umbraco-7/59693-Fetching-data-from-external-source

[2019-05-01 13:08] nul800sebastiaan commented on #426
I think accepting gifs is fine.. but they should probably not animate. There's an imageprocessor option somewhere that only takes the first frame of the gif. Can't remember exactly what it is.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-02 11:38] BatJan commented on #426
Yes, I agree 😄

[2019-05-09 13:01] bjarnef opened #427 "Don't render iframe in Angular docs"
I guess it shouln't render the iframe in the docs. if it should, maybe use an html page which does exists.

https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.directives.directive:resizeToContent

![image](https://user-images.githubusercontent.com/2919859/57455301-25a2bc80-726b-11e9-8016-1cb574ac5a64.png)

[2019-05-13 08:08] bjarnef opened #429 "Image gallery overlay not vertically centered"
In the image gallery on some projects/packages, it seems the opened image is not scaled to fit 100 viewport width and not centered vertically, when opening the gallery from mobile devices.

https://our.umbraco.com/packages/backoffice-extensions/umbraco-v8-back-office-themes/

![image](https://user-images.githubusercontent.com/2919859/57605354-c5f82a00-7566-11e9-905f-4fa4705b8b8c.png)

![image](htt

[2019-05-13 08:13] bjarnef commented on #429
At the moment it use fancybox v3.1.20, might be worth updating to latest v3.5.7 to see if it fix the issue or something else causing the issue.

[2019-05-13 08:18] bjarnef commented on #429
It seem this issue happens when package description overflow the viewport width, e.g. with long links.
![image](https://user-images.githubusercontent.com/2919859/57606022-45d2c400-7568-11e9-9b74-3e805760efea.png)

Adding word-break seems to fx this issue.

[code]

![image](https://user-images.githubusercontent.com/2919859/57606103-7d417080-7568-11e9-8227-7f77e8f9d8ce.png)

[2019-05-13 08:23] bjarnef commented on #429
Furthermore it should have a `max-width: 100%;` on images inside package description, otherwise there is a similar issue.
https://our.umbraco.com/packages/backoffice-extensions/svg-icon-picker/

![image](https://user-images.githubusercontent.com/2919859/57606253-d01b2800-7568-11e9-9411-07484743b626.png)

![image](https://user-images.githubusercontent.com/2919859/57606436-28522a00-7569-11e9-9ace-66

[2019-05-13 10:32] nul800sebastiaan commented on #427
Hehe, nice one.. yeah that's a bug we should have a look at.

[2019-05-14 11:28] nul800sebastiaan commented on #429
👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-15 21:49] abjerner opened #430 "Adding a new package is quite hidden away"
You have to click your avatar, then *Edit profile*, and then *Packages*:

https://our.umbraco.com/member/profile/packages/

Ideally there should be a more direct path - or at least more obvious. Eg. directly from the *Packages* section.

[2019-05-15 21:52] abjerner opened #431 "Unable to publish package without any current package files"
It may be a topic that requires a bit of discussion, but I'm currently in a scenario where I have a NuGet package that isn't yet available as an Umbraco package. But I still wish to create it on Our - eg. so that users can discover said package via Our.

Given that I was able to publish my package, users would then be able to see that my package is only available on Our.

(yes, I know - I should r

[2019-05-16 12:21] nul800sebastiaan commented on #430
Yep.. :)

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-05-16 12:25] nul800sebastiaan commented on #431
We really don't want to allow this at this point, until we have a way to install nuget packages from within the backoffice, but that's a well-known and much wanted issue for CMS :-)

We might revisit this soon and make the UI better so we can allow for package-less packages to appear on Our, not sure.

[2019-05-25 10:43] bjarnef opened #439 "Mobile navigation toggle is broken on mobile"
It seems the mobile navigation toggle is broken on mobile, but only in frontpage.

It is most likely a javascript error, note the hash in the url.

![Screenshot_20190525-123957_Chrome](https://user-images.githubusercontent.com/2919859/58368243-9fcd7500-7eea-11e9-8a04-70cc2e7949ab.jpg)

[2019-05-25 12:06] abjerner commented on #439
This is a weird one. I don't get any errors (when emulating mobile on desktop), but still experience the same as you describe.

I think #440 would fix it though 😉

[2019-05-25 12:10] bjarnef commented on #439
@abjerner it has happened after some of the recent changes.

[2019-05-29 09:07] bjarnef commented on #439
There is a similar issue with the quick menu doesn't open on desktop, when clicking the user/avatar on frontpage. It does work on subpages though.

![image](https://user-images.githubusercontent.com/2919859/58544594-ddd7db00-8201-11e9-8f80-56de3a765feb.png)

[2019-05-29 09:08] bjarnef commented on #439
and it seems the error in the Twitter partial are breaking part of the layout 🙈

![image](https://user-images.githubusercontent.com/2919859/58544696-15468780-8202-11e9-8316-985902c59882.png)

[2019-06-01 22:40] alikazai commented on #429
Thank @bjarnef for the information on this ticket i have created a PR https://github.com/umbraco/OurUmbraco/pull/441 for this hopefully all goes well.
there was no way for me to test this on my repo as i the content on that page doesn't exist on the database, but hopefully the information you provided should be enough for this fix,.

Thank you

[2019-06-05 08:49] bjarnef commented on #429
It also has issues when the package name overflow the viewport width. It should probably break word on a long package name.

[2019-06-05 08:55] alikazai commented on #429
hi @bjarnef thanks for that. Unfortunately there was no way for me to test this on my repo as the content on that page doesn't exist on the database, that was provided by the OurUmbraco repo. hopefully @nul800sebastiaan can help solve this matter.

In the meantime i will look into the package name issue and try get the resolved.

Thanks

[2019-06-05 09:41] bjarnef commented on #429
@alikazai I will recommend to create a PR and only commit the actual changed to fix the issue. It makes it much easier to review the code 🙂

[2019-06-05 09:46] alikazai commented on #429
shall i remove the current PR then re add it with only the changed code

[2019-06-05 10:01] bjarnef commented on #429
@alikazai you can always submit a new PR and close the existing one.

[2019-06-05 10:15] alikazai commented on #429
ok

[2019-06-06 17:58] abjerner opened #443 "Blog logo for Umbraco HQ gives 404"
![image](https://user-images.githubusercontent.com/3634580/59054871-e2049800-8894-11e9-83fb-c8ea7d70742a.png)

I had a look through the code, and the avatar/logo should be downloaded here:

https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Community/BlogPosts/BlogPostsService.cs#L154,L166

I've tried to reproduce this locally, but everything works fine - so for now, I'm a bit unsure why

[2019-06-07 06:51] nul800sebastiaan commented on #429
Hey @alikazai - sorry for the delay. Yeah, Our can be a bit hard to contribute to, sometimes you just have to play with the styles on the live site and take a guess at it 😄

I'll have a look at the PR next week. I have some preliminary feedback: I can see that only 2 line in the css file have changed yet you checked in more changes. It will be much easier for us to review PRs that only contain the

[2019-06-07 09:04] bjarnef opened #444 "Add placeholder text to search input on search page"
On search page the seach input should have a placeholder text.

https://our.umbraco.com/search
https://our.umbraco.com/search?q=
https://our.umbraco.com/search?q=Umbraco%208

![image](https://user-images.githubusercontent.com/2919859/59093144-7ca3bc00-8913-11e9-87c6-892f41bb3751.png)

When no results are found, it could maybe show some topics or maybe list popular search terms?

[2019-06-07 11:11] nul800sebastiaan commented on #439
The Twitter error has been fixed now, I'll close this one :)

[2019-06-07 11:11] #439 closed

[2019-06-11 09:45] nul800sebastiaan commented on #444
Sure that would definitely be helpful.

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

As for the second feature request, we don't track "popular" search terms and if the term yields absolutely no results then there's also no context on giving them different results.. Open to suggestions, but I don't think there's much to do about t

[2019-06-11 11:01] nul800sebastiaan commented on #443
Not sure what happened but today it's magically working again.. I'll close this for now :-)

[2019-06-11 11:01] #443 closed

[2019-06-11 12:10] abjerner commented on #443
Weird. It still happens here. Maybe we can convince Damiaan to teach us some magic?

[2019-06-11 12:20] nul800sebastiaan commented on #443
lol!

So what is the "It" you're referring to?

Looks fine to me ..

![image](https://user-images.githubusercontent.com/304656/59271414-0c1ed700-8c54-11e9-92c6-057e72fb12ec.png)

[2019-06-11 12:59] abjerner commented on #443
The Umbraco logo refers to the following URL, which gives me a 404:

https://our.umbraco.com/media/blogs/6F278E68-C435-4DFF-A4EA-DB08835AB0F9.png?width=100&height=100&mode=max&upscale=true

(I even tried disabling my ad blocker, but nope)

[2019-06-11 13:01] nul800sebastiaan commented on #443
🙈

![image](https://user-images.githubusercontent.com/304656/59274027-c06f2c00-8c59-11e9-8fd2-6c83f0707cf1.png)

[2019-06-11 13:06] abjerner commented on #443
Well ... now it also works here! Did you just fix something on the server?

(I swear it didn't work just before - I've even tested it on a few different computers)

[2019-06-11 13:32] nul800sebastiaan commented on #443
I dunno.. it worked before your comment (https://github.com/umbraco/OurUmbraco/issues/443#issuecomment-500816300) as well.. haven't seen it broken to be honest.. Sounds scary, not sure what is going on!

[2019-06-11 13:32] nul800sebastiaan commented on #443
And no, I didn't touch the server :-)

[2019-06-11 18:17] nul800sebastiaan commented on #363
Fixed in https://github.com/umbraco/OurUmbraco/pull/416

[2019-06-11 18:17] #363 closed

[2019-06-11 18:18] nul800sebastiaan commented on #354
Fixed in https://github.com/umbraco/OurUmbraco/pull/425

[2019-06-11 18:18] #354 closed

[2019-06-13 06:50] bjarnef commented on #426
@nul800sebastiaan @BatJan something like this?
https://imageprocessor.org/imageprocessor-web/imageprocessingmodule/animationprocessmode/

[2019-06-13 07:15] nul800sebastiaan commented on #426
That's the one!

[2019-06-13 16:59] greystate opened #446 "RSS feed for Umbraco is missing a permalink"
## Problem
I don't really know if this is the correct place to file this bug, but here goes:

The RSS feed for Umbraco's [official blog on umbraco.com](https://umbraco.com/blog/) does not include a permalink for the entries, which means you can't jump from an RSS reader application to the post on the blog.

## How does it make you feel?
It makes me feel so so sad 😢

[2019-06-14 07:23] nul800sebastiaan commented on #446
I'll send this off to the team who build the website! 👍

This is not the right place but I also don't know what would be really ;-)

When this is fixed I'll ask them to update here, thanks!

[2019-06-14 07:23] #446 closed

[2019-06-14 15:23] abjerner opened #448 "Meetup integration will not work beyond August 15"
Just a little heads up. Our is currently using an API key for accessing the API. This will not be possible after August 15.

The Meetup integration should then instead use OAuth 2. I'll look into creating a PR for that so this is ready at least some time before August 15.

![image](https://user-images.githubusercontent.com/3634580/59519721-c3bc1f00-8ec8-11e9-835f-e0190deac887.png)

[2019-06-14 22:30] prjseal opened #449 "Browse most popular packages title is wrong"
When you go to the packages page without any query string you see a title like this:

## Browse most popular packages

This is incorrect, because you are looking at the latest packages not the most popular, which can be misleading for people.

So it should look like this by default instead:

## Browse latest packages

I have created a PR which I will link to this issue.

[2019-06-17 06:49] nul800sebastiaan commented on #449
Thanks @prjseal ! Will have a look at it this week! 👍

[2019-06-17 06:50] nul800sebastiaan commented on #448
Yikes! Thanks for the help, let me know what I need to do to generate an authorization token.

[2019-06-17 20:44] abjerner commented on #448
Well, I think we actually might be safe already. When I submitted this issue, it was because I had found this file:

https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Events/Meetup/MeetupController.cs

For starters I was a bit confused why it didn't use my Meetup package, and when I had another look today, I realized that this code is back from 2015. @nul800sebastiaan do you know whethe

[2019-06-20 12:25] nul800sebastiaan commented on #257
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:25] #257 closed

[2019-06-20 12:26] nul800sebastiaan commented on #262
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:26] #262 closed

[2019-06-20 12:30] nul800sebastiaan commented on #315
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:30] #315 closed

[2019-06-20 12:40] nul800sebastiaan commented on #379
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:40] #379 closed

[2019-06-20 12:40] nul800sebastiaan commented on #383
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-06-20 12:40] #383 closed

[2019-06-21 16:11] PeteDuncanson opened #451 "Add a flag to the search to exclude cloud documentation"
Everything I've tried searching for to day on the documentation site just kept bringing back cloud only related content. None of it really all that helpful.

Would be nice to have a boolean on the search to exclude cloud stuff (or some other type of wording). In fact it might need to be a "platform" drop down or similar to make it more generic if excluding cloud seems to be singling it out.

Would

[2019-06-21 16:13] PeteDuncanson opened #452 "Add breadcrumb to the search result entries"
When searching for documentation it would be nice to include the breadcrumb trail or url in the results page. Currently lots of the docs I've hit today all were for cloud but theres no way to know until you click into it. Having the breadcrumb/category/url in the result would make it easier at a glance to see what is what so I can zero into content that might help quicker.

Related: #451

[2019-06-24 09:34] valdaniocpc opened #453 "Could not load file or assembly umbraco I.m using Umbraco CMS with gitHub and I get this error when it runs Could not load file or assembly 'App_Web_all.generated.cs.8f9494c4.dkciotxm, Version=0.0.0.3, Culture=neutral, PublicKeyToken=null' or one of its dependencies."
I.m using Umbraco CMS with gitHub and I get this error when it runs
Could not load file or assembly 'App_Web_all.generated.cs.8f9494c4.dkciotxm, Version=0.0.0.3, Culture=neutral, PublicKeyToken=null' or one of its dependencies. O sistema não conseguiu localizar o ficheiro especificado.

[2019-06-24 09:56] nul800sebastiaan commented on #453
Hi there - this sounds like an excellent question for the forums where our friendly community can help you find the best solution for your requirements.
Make sure to head on over to https://our.umbraco.com and ask follow up questions there! 👍

[2019-06-24 09:56] #453 closed

[2019-06-24 09:59] valdaniocpc commented on #453
ok! Thank you so much.

[2019-06-25 09:48] nul800sebastiaan commented on #452
Sounds like an excellent idea! 👍

I've marked this as "Up for grabs" so that you or someone else coming along could create a pull request for it.

[2019-06-25 09:50] nul800sebastiaan commented on #451
Would be lovely, not sure if we can categorize things with meta data in the markdown file @jmayntzhusen ?

In general it would be good to have "categories" that you can toggle on and off when the search results pop up.

[2019-06-26 10:37] jmayntzhusen commented on #451
This is a great idea - not sure that adding category tags on individual articles would make sense though, it would mean that in our 500+ articles we would need to make sure they were all flagged correctly or they wouldn't show up.

If we are only talking top level categories it may be possible to do something based on the folder or path it is in..

[2019-06-26 10:48] PeteDuncanson commented on #451
Folder seems to be the logically and quick way of doing it. Or do we have tags or similar that we could apply to the docs? Re-tagging 500 docs is a pain but if people can't find the right docs as is maybe its worth adding this meta data?

[2019-06-26 13:15] jmayntzhusen commented on #451
You can set anything in the YAML that you want, would then have to include it in the examine indexes and then also make the filter functionality for the frontend and hook it up with adding / negating things in the query but wouldn't be too bad.

Unfortunately it is not something I have any time for, maybe we should add an up-for-grabs label @nul800sebastiaan ?

[2019-06-26 21:51] prjseal commented on #449
Any joy with this one @nul800sebastiaan ?

[2019-07-01 13:46] hartviglarsen commented on #446
Hi @greystate

Sorry for the delay on this - I have been on vacation. :)

I've fixed the issue and will roll out the fix tomorrow.

[2019-07-14 21:38] bjarnef opened #455 "Screenshots have black background"
I noticed our.umbraco.com has been upgraded to v7.15.0 and that it seems screenshots now have black background although `bgcolor=fff` is specified.

![image](https://user-images.githubusercontent.com/2919859/61189600-1b000b80-a690-11e9-87d1-09ea594c1b70.png)

![image](https://user-images.githubusercontent.com/2919859/61189606-22bfb000-a690-11e9-9bd0-018bbadf65da.png)

![image](https://user-images.

[2019-07-16 09:42] soreng opened #456 "Avatars missing on our"
https://our.umbraco.com/

![image](https://user-images.githubusercontent.com/359492/61284234-d7f08600-a7be-11e9-9bdb-ee08661ed0c4.png)

The avatars are missing - seems the remote.axd handler does not handle the remote content (?). Maybe some settings allowing a domain, maybe domain changed?

[2019-07-31 16:07] nul800sebastiaan commented on #456
Apologies for the delay, this has now been fixed in rev https://github.com/umbraco/OurUmbraco/commit/4d99ce2c7134902a5fcbbb06db415915d186571b

[2019-07-31 16:07] #456 closed

[2019-07-31 16:10] nul800sebastiaan commented on #455
Apologies for the delay, this should now be fixed in revs https://github.com/umbraco/OurUmbraco/commit/695e7d56231abab4cbb3caba7a7e666df0f8e445 and https://github.com/umbraco/OurUmbraco/commit/aa9e22d9b617fd4662a48eadffce16c1ab42e728

[2019-07-31 16:10] #455 closed

[2019-08-15 18:11] nul800sebastiaan commented on #444
Fixed in https://github.com/umbraco/OurUmbraco/pull/457

[2019-08-15 18:11] #444 closed

[2019-08-15 18:27] nul800sebastiaan commented on #449
Fixed in https://github.com/umbraco/OurUmbraco/pull/450

[2019-08-15 18:27] #449 closed

[2019-08-15 18:27] nul800sebastiaan commented on #429
Fixed in https://github.com/umbraco/OurUmbraco/commit/e85ba1006043e426b29e3ed0e10393f064b3d9f9

[2019-08-15 18:27] #429 closed

[2019-08-26 11:33] jannikanker opened #461 "Analytics querystring messes up browser title"
I was reading the latest and greatest product update blog post and followed a link to the docs.

The link (https://our.umbraco.com/documentation/Reference/Mapping/?_ga=2.49479141.217517450.1566817370-1331147576.1557146764/#full-example) has some querystring params in it, which seem to mess with the browser title:
![image](https://user-images.githubusercontent.com/1769849/63687708-97e0e200-c805-11e

[2019-08-27 14:50] nul800sebastiaan commented on #461
Yeah that looks a bit weird.

Happy to look at a PR if you would like to  help out! 👍

[2019-08-27 17:20] jannikanker commented on #461
I'll take a look :-)

[2019-08-29 19:11] nul800sebastiaan commented on #426
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:11] nul800sebastiaan commented on #422
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:11] #422 closed

[2019-08-29 19:12] #426 closed

[2019-08-29 19:13] nul800sebastiaan commented on #418
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:13] #418 closed

[2019-08-29 19:18] nul800sebastiaan commented on #403
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:18] #403 closed

[2019-08-29 19:18] nul800sebastiaan commented on #402
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:18] #402 closed

[2019-08-29 19:19] nul800sebastiaan commented on #398
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-08-29 19:19] #398 closed

[2019-08-30 13:30] abjerner commented on #284
@nul800sebastiaan as we talked about at the meetup, for handling the last two security issues where there are no change in version numbers if you apply the hotfix, it might be good with a way to handle this in the format as well.

As we can't really check whether the hotfix has been applied, the best I can think of is to introduce a `hotfix` property for the issues, which then will indicate whethe

[2019-08-30 13:31] dhymik opened #463 "Can't upload avatar"
I am unable to successfully upload an avatar picture for my our.umbraco account. Although the upload finishes without error, no avatar picture is being shown. I tried various file types (jpg, png), file sizes, and browsers, all the same.
Regards, Mikael

[2019-08-30 14:48] nul800sebastiaan commented on #463
Hi @dhymik - I just tried on https://our.umbraco.com/member/profile/ and it works perfectly.

I'm using Chrome, which browser are you using?

I'm assuming it's some kind of browser, browser plugin or firewall issue. Do you see any errors in the browser console?

[2019-08-31 16:12] dhymik commented on #463
Hi @nul800sebastiaan,

I tested on Chrome and Firefox, doesn't work on my machine.

I'll test on a different machine and in a different location and get back to you.

[2019-09-02 07:58] jannikanker commented on #452
@nul800sebastiaan I'll give it a go if you'd like :-)

[2019-09-02 08:33] jannikanker commented on #452
So I'm thinking the minimum viable product would be to just add the URL somewhere, like this:
![image](https://user-images.githubusercontent.com/1769849/64101001-1f31d680-cd6d-11e9-9bb5-b84ee3e21050.png)

[2019-09-03 13:43] poornimanayar opened #464 "On the home page, upcoming meetups and twitter activity links open in the same window"
On the home page of the site the upcoming meetups and twitter activity links open up in the same window. It should open up in a new window.

[2019-09-03 16:02] bjarnef opened #466 "Update styling of progress button when posting forum question/reply"
When posting a forum question/reply the progress button still has a green'ish style, but it should now match the blue color of the buttons.

![image](https://user-images.githubusercontent.com/2919859/64189169-09f39f80-ce74-11e9-8bd2-b68becb26304.png)

[code]

Instead of a overlay div consider to change the button (input type="button") to a
`<button type="submit" />` and change disabled state while

[2019-09-04 08:00] dhymik commented on #463
Hi @nul800sebastiaan,

I tried on a different computer with Chrome, and it works. I tried on my computer with old IE11 and it works - avatar changed.

I tried on my computer with Chrome (latest) and all extensions / plugins disabled (starting chrome with --disable-extensions --disable-extensions), and it does **_not_** work. No errors in console, firewall disabled.

[2019-09-04 08:01] hamzatki opened #467 "I cannot get the preview badge to show on preview pages"
Hi,

I have 2 versions of umbraco installed (7.13.2 and a 7.13.2  upgraded to 7.15.2) on my machine.

I cannot get the preview badge to work on both 7.13.2 and 7.15.2.

I have this element on umbracoSettings.config

 <PreviewBadge>
      <![CDATA[
      <a id="umbracoPreviewBadge" style="z-index:99999; position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px; background: url('{

[2019-09-04 08:21] nul800sebastiaan commented on #463
Alright @dhymik - I'm sorry to hear it's not working, but you are the only one I know of with this problem. Therefore, I can only conclude there is a problem in your specific environment that you'll need to investigate.

[2019-09-04 08:21] #463 closed

[2019-09-04 08:33] nul800sebastiaan commented on #467
Hey there @hamzatki - make sure to get some help on the forums at https://our.umbraco.com 👍

[2019-09-04 08:33] #467 closed

[2019-09-10 09:17] prjseal opened #469 "Quick Menu View My Public Profile Link GitHub Error"
If you have your GitHub account linked to your Our Umbraco account, the 'View my public profile' link in the quick menu goes to a 404 page.

![Quick menu view my public profile link](https://i.imgur.com/7LEdwXc.png)

![Page not found](https://imgur.com/T5zo8BH.png)

It would be better to use the same link that is used when you click on someone's name in a comment on the forum.

![Forum comment nam

[2019-09-10 09:46] abjerner commented on #469
Hi @prjseal,

I'm a bit unsure why the `@` is included in your username. It doesn't do that when I link with my own GitHub account. I think it would be better to fix this part so we can still use vanity URLs based on the GitHub username.

What does it say if you go to the [**Edit profile** page](https://our.umbraco.com/member/profile/)? Mine looks like this:

![image](https://user-images.githubuse

[2019-09-10 10:51] prjseal commented on #469
Hi @abjerner

This is how it looks on mine:

![paul seal github linked account](https://imgur.com/8cxRjQM.png)

[2019-09-10 11:15] abjerner commented on #469
@prjseal did you possibly write your GitHub username manually before linking? That could explain why it has a `@` (I think).

[2019-09-10 11:16] abjerner commented on #469
And what happens if you unlink and link again?

[2019-09-10 12:02] prjseal commented on #469
That has worked for me. I linking and then linking again. I must have added my GitHub account name before the linking with GitHub was added to the site.

[2019-09-10 13:10] abjerner commented on #469
@nul800sebastiaan would it make sense to create a job that fixes the usernames if there are anyone left with `@` in the username? I don't really now how many users we're talking about.

@prjseal Depending on what Seb answers, it might make sense to update your PR so `@Url.GetProfileUrl(profile)` strips any leading `@`.

[2019-09-13 12:17] Abuabdelah opened #471 "Package compatible with v8 listed in v7 packages!"
uGardian [v8 ](https://our.umbraco.com/packages/backoffice-extensions/ugardian/)package listed in v7! it should display only one.

![image](https://user-images.githubusercontent.com/52907282/64855353-fee10200-d61f-11e9-9cc4-909f6bc022f9.png)

![image](https://user-images.githubusercontent.com/52907282/64855436-259f3880-d620-11e9-8a91-78c6d39b4ad5.png)

[2019-09-13 12:17] nul800sebastiaan commented on #471
Yeah that seems wrong. I've moved your issue to the Our Umbraco issue tracker since it is Our that provides the packages feed.

Which version of v7 are you using?

[2019-09-13 13:33] Abuabdelah commented on #471
7.13.2

[2019-09-15 23:28] skartknet opened #472 "Not receiving notifications from forums."
I don't get any notifications for new message in the forums I follow or for responses to my posts.
I have checked my settings and they look correct:
![image](https://user-images.githubusercontent.com/1685262/64929059-4c4db100-d864-11e9-8a2e-c64906ffca46.png)

Not sure If I have to do anything else...?

[2019-09-16 05:53] nul800sebastiaan commented on #472
Do you get any email from Our? If not it could be that something is marking them as spam for you or the emails are bouncing or something.

[2019-09-16 06:05] skartknet commented on #472
Nope, nothing in the spam folder. Is there anyway I can test it? I receive messages if I want to reset my password for instance.

[2019-09-16 08:29] nul800sebastiaan commented on #472
Hmm, yeah I can see no outgoing mails for you after creating a new topic (I've also deleted it again already).

Is this "Follow" button green for you?

![image](https://user-images.githubusercontent.com/304656/64943754-e154a800-d86c-11e9-8d25-2eb60f08eff2.png)

[2019-09-16 09:40] skartknet commented on #472
Actually I have received a notification:

![image](https://user-images.githubusercontent.com/1685262/64948023-86956d80-d8b9-11e9-8b92-fa09a3bca360.png)

Before you post I had unfollowed and re-followed the forums. Maybe that has fixed it? ¯\_(ツ)_/¯

We can close this for the moment if you like an I'll reopen it if I see it fails again.

[2019-09-16 09:54] nul800sebastiaan commented on #472
Haha! That is so weird! Yep, I also see now Sendgrid has delivered the mail successfully.

Alright, let's close it for now and chalk it up to a fluke!

[2019-09-16 09:54] #472 closed

[2019-09-16 10:15] skartknet commented on #472
Thanks for your help Sebastiaan.

[2019-09-18 07:19] bjarnef opened #473 "Image size of Twitter avatars"
Is it possible to increase the image size of the Twitter avatars? At the moment they are a bit blurry compared to the user avatars on Our.

![image](https://user-images.githubusercontent.com/2919859/65125190-75517b80-d9f5-11e9-8f53-ae654d4c8f98.png)

![image](https://user-images.githubusercontent.com/2919859/65125242-7aaec600-d9f5-11e9-9960-3e8a4fd8db74.png)

[2019-09-18 11:54] nul800sebastiaan commented on #473
Sure thing, fixed now.

[2019-09-18 11:54] #473 closed

[2019-09-18 12:21] bjarnef commented on #473
Yeay, you look so much sharper now Seb! 😉

![image](https://user-images.githubusercontent.com/2919859/65148008-99c24d80-da1f-11e9-8ef0-7b6cefee99a8.png)

[2019-09-23 09:34] nul800sebastiaan commented on #430
This issue has been in the `up for grabs` state for quite a while now and it seems nobody is ready to pick this one up.

For now we'll close this issue to prevent the list of `up for grabs` from becoming very stale. We're happy to re-open it if someone still thinks it's good to work on this.

If anyone is about to pick this issue up to fix it, make sure to test first if you can reproduce the probl

[2019-09-23 09:34] #430 closed

[2019-09-24 14:33] nul800sebastiaan opened #474 "The categories for forum posts are outdated"
Regarding the following tweet:

https://twitter.com/peteduncanson/status/1176429154700537856?s=20

![image](https://user-images.githubusercontent.com/304656/65520683-4735d500-dee8-11e9-8ba3-1a7f4bd5c24d.png)

We've noticed over the last few years that forum categories  (in general) are completely confusing to people and more often than not are selected wrong. Therefore, we believe it is time to re

[2019-09-24 14:35] nul800sebastiaan commented on #474
Fixed in 827835b15a0b237940ba58e8a1a08fe5e80b071f

[2019-09-24 14:35] #474 closed

[2019-09-24 15:42] leekelleher commented on #474
@nul800sebastiaan Has one of the categories been renamed? As I think it's caused a 404.
Original URL from Pete's tweet: https://our.umbraco.com/forum/using-umbraco-and-getting-started/99209-content-randomly-unpublished-any-ideas ... returns a 404.

Whereas using the updated category slug is working fine: https://our.umbraco.com/forum/using-umbraco/99209-content-randomly-unpublished-any-ideas

Migh

[2019-09-24 16:11] nul800sebastiaan commented on #474
@leekelleher Interesting.. good catch, I did rename that one! I'll see why there was no redirect created tomorrow, renamed it back for now, thanks for the hint!

[2019-09-27 06:15] enkelmedia opened #475 "Google Analytics for Packages not working"
When editing a Package we have the option to add a "Google Analytics-code", this used to work but some update might have broken this.

When loading a Package Page with a GA-code set I get this error in the console:

Uncaught ReferenceError: ga is not defined

<img width="420" alt="Skärmavbild 2019-09-27 kl  08 03 20" src="https://user-images.githubusercontent.com/1782524/65745842-580b6400-e0fd-11

[2019-09-27 09:23] nul800sebastiaan commented on #475
Aha.. yeah I didn't think about this one when we update the GA scripts to use TagManager. We'll have to look at this!

[2019-09-27 09:52] enkelmedia commented on #475
I guess that the triggers thats implemented as "on-click" on a hrefs tags would still work as they are fired when ga is loaded =D

Let me know if I can help out =D

[2019-09-27 12:26] bjarnef opened #476 "Fix right padding in use badges"
On a package/project page the member badge has a right padding, which make the text look like it is not in center of the badge.

The styling target on the `span` element should be more specific, e.g.

[code]

![image](https://user-images.githubusercontent.com/2919859/65768982-c3bbf400-e132-11e9-93cd-0352cb523203.png)

![image](https://user-images.githubusercontent.com/2919859/65769011-d5050080-e13

[2019-09-27 12:31] bjarnef commented on #476
![image](https://user-images.githubusercontent.com/2919859/65769221-59578380-e133-11e9-8897-3308527bc5b2.png)

![image](https://user-images.githubusercontent.com/2919859/65769233-64121880-e133-11e9-9218-1c9cc5e7611b.png)

[2019-09-27 14:21] NikRimington opened #477 "Introduce Documentation Style Guide rule validation against Package descriptions"
It would be really cool if when setting your text for a package page it could be verified against the Umbraco Documentation style guide rules. This shouldn't stop the page being published but instead send the owners a notification email telling them they might want to re-evaluate their content.

I appreciate that posts etc can't be vetted against this, but something like a Package description page

[2019-09-29 09:27] nul800sebastiaan commented on #476
Badges were never really anticipated to be displayed here, so there's probably something missing indeed. :)

Not sure where in the scss files to look though. 🤔

[2019-09-29 09:31] nul800sebastiaan commented on #477
🙂 it's a lovely idea.. if only our spaghetti could would make it relatively easy! 😉

We're going to focus more on the packages in the near future, I'll put this on the list of ideas to work on for when Our is being worked on, thank! 👍

[2019-09-29 09:33] nul800sebastiaan opened #478 "Can't rename a package"
As a package developer it's currently not possible to rename a package after it's been created.

Note: after a rename, there should be an automatic redirect from the old to the new URL.

[2019-09-30 21:05] abjerner opened #479 "No <title> value for the main documentation page"
https://our.umbraco.com/documentation/

![image](https://user-images.githubusercontent.com/3634580/65916983-b161e480-e3d6-11e9-8095-500677ccab8e.png)

![image](https://user-images.githubusercontent.com/3634580/65916999-b888f280-e3d6-11e9-8de7-6ade798c1591.png)

Strangely it works fine when I run the latest code on my local machine. 😮

[2019-09-30 21:12] nul800sebastiaan commented on #479
Hmmm, that is a weird one! Do you have any idea where it's being set on that template?

[2019-09-30 21:46] abjerner commented on #479
At least on my machine the <title> value is generated by this line:

https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/DocumentationSubpage.cshtml#L71

I tried importing the newest docs right before testing, but perhaps the live site runs the code for the `if` instead of the `else` block:

https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/DocumentationSu

[2019-10-01 06:15] skartknet opened #480 "Documentation menu overflowing bottom options"
When navigating the docs, if you select one of the pages with multiple subpages, these are revealed pushing the bottom options down. There's a point where the menu can't fit any more options and they are hidden. (Argh! I don't know how to explain!) Basically the menu doesn't expand enough.

This is a capture with all the options (nothing wrong here):
![image](https://user-images.githubusercontent.

[2019-10-01 06:55] nul800sebastiaan commented on #480
Gosh, I guess we shouldn't put so much documentation up! 🙈

Not sure if we have a hardcoded max height or something 🤔

[2019-10-02 17:12] Niladri24dutta commented on #427
@nul800sebastiaan can I work on this? should I remove the ifrme demo or change the source url to a valid one.

[2019-10-08 10:59] nul800sebastiaan commented on #475
Thanks @enkelmedia - we've fixed it in PR #483 - I'll roll this out later today.

[2019-10-08 10:59] #475 closed

[2019-10-08 11:06] nul800sebastiaan commented on #464
Fixed in https://github.com/umbraco/OurUmbraco/pull/465

[2019-10-08 11:06] #464 closed

[2019-10-19 11:32] daniloff200 opened #492 "Sidebar height issue"
Sometimes, there will be a situation, when height of sidebar lvl is greater, that allowed css value.
That will be the reason of such issue:

![Selection_040](https://user-images.githubusercontent.com/13692220/67144224-21001c80-f27d-11e9-9f3b-7b29ff273e19.png)

In this case, Mapping, Scheduling and Using Ioc are not available

[2019-10-23 16:05] #492 closed

[2019-10-24 12:39] jmayntzhusen commented on #479
Seems to be there now when I test - the YAML override was added in https://github.com/umbraco/UmbracoDocs/pull/1953, so I guess we can close this one for now 🙂

[2019-10-24 12:39] #479 closed

[2019-10-29 11:37] nul800sebastiaan commented on #469
I don't really want to run this as a job, it would be better to just strip any leading `@` signs from the profile link while building it.

[2019-10-29 11:38] #461 closed

[2019-10-30 20:44] abjerner commented on #469
@nul800sebastiaan I think you may have to, but I'll dig more into the issue.

If the property does contain a `@`, we can strip it when rendering the profile link. But the username is also used for vanity URLs, which may cause problems (I'll have to test that) when searching for the username.

If users have been able to enter their username manually, they are not verified. So if we care about that,

[2019-11-04 08:40] fALKENdk opened #506 "Breadcrumb link "member" returns 404"
Breadcrump link Member on the profiles page returns 404, it links to `https://our.umbraco.com/member/` which does not exists and should link to the users own profile.

Steps to reproduce:
`https://our.umbraco.com/members/falkendk/` click on `Member` in the breadcrumb.

[2019-11-12 21:32] Rockerby opened #515 "Register: Google Maps API Not Authorised"
On the register page the API key used for the map isn't authorised to perform the location lookup. See below from the page https://our.umbraco.com/member/Signup

![image](https://user-images.githubusercontent.com/5808078/68712099-eabf6f80-0592-11ea-9494-cc59cb712752.png)

[2019-12-03 09:01] liamlaverty commented on #480
Was this fixed by https://github.com/umbraco/OurUmbraco/pull/493 ? I was going to take a look at it, but I can't recreate it now.

[2019-12-03 09:47] nul800sebastiaan commented on #480
Ah yes it was @liamlaverty - thank you! I forgot to close this one! 👍

[2019-12-03 09:47] #480 closed

[2019-12-04 14:23] abjerner commented on #448
Due to the right circumstances around how we use the Meetup API, we weren't affected by the changes. So probably about time to close this issue.

[2019-12-04 14:23] #448 closed

[2020-01-03 09:58] erikjanwestendorp commented on #466
@nul800sebastiaan  It seems that this issue has already been solved and could be closed.

[2020-01-09 16:15] nul800sebastiaan commented on #466
@erikjanwestendorp Thanks, will do!

[2020-01-09 16:15] #466 closed

[2020-01-11 17:22] erikjanwestendorp commented on #506
Hi

This it’s a bit weird behavior indeed. It seems that the issue is in the [BreadcrumbController](https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/Our/Controllers/BreadcrumbController.cs) / [breadcrumb.cshtml](https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/Partials/Global/Breadcrumb.cshtml ) view.

The CurrentPage will be added to the breadcrumb but the query

[2020-01-12 17:55] abjerner opened #532 ""Upcoming meetups" only show one event per group"
The **Upcoming meetups** section on the front page currently only shows one event per group. IIRC it was made so by design, but it feels a bit misleading that not all events are shown.

As an example, the Danish group has an event the 29th, but as it also has one before that on the 23rd, meaning the one on the 29th isn't shown - yet there are two events shown that are dated in February.

Even if t

[2020-02-05 14:20] nul800sebastiaan commented on #532
Hmmm, somehow this just showed up in my "unanswered" list for the first time!

Yes, you're right, I think showing all the upcoming events in the next 30 days would be the nicest. 👍

[2020-02-05 20:12] jmayntzhusen commented on #478
Hmm it's a bit weird, the spot it creates or saves updates to a package it doesn't set the same on update only on initial save.

If we add a line here: https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/MarketPlace/NodeListing/NodeListingProvider.cs#L152

[code]

It will actually update the name for the package if you set a new one in the title field where you edit packages:
![image](htt

[2020-02-06 14:21] jmayntzhusen opened #537 "Update member project download counts to include NuGet dls."
On the project overview page (https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/Partials/Projects/ListProjects.cshtml) we show the download count like this (simplified):

[code]

So it is the `downloads` field from the projectIndex.

On the member view page (https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco.Site/Views/Partials/Projects/MyProjects.cshtml) we get it

[2020-02-10 10:17] #537 closed

[2020-02-11 11:25] erikjanwestendorp opened #543 "needsV8Update doesn't work?"
## What type of issue is it?
The `needsV8Update `badge doesn't work on every page.

## What article/section is this about?
The _[Published Content Request Preparation](https://our.umbraco.com/documentation/Reference/Routing/Request-Pipeline/published-content-request-preparation)_ page needs a v8 update.

## Describe the issue
The `needsV8Update `has set _[here](https://github.com/umbraco/UmbracoDo

[2020-02-11 13:34] nul800sebastiaan commented on #543
I've moved it to the Our repo.  👍

[2020-02-14 09:50] bjarnef opened #545 "Lastest release menu item dissapears on compare versions"
Under releases page we have at top "Latest Release - v8.5.3" https://our.umbraco.com/download/releases

However when clicking "Compare Versions" under "All Releases" this suddently dissapears.
https://our.umbraco.com/download/releases/compare

Also note when navigation to https://our.umbraco.com/download/releases or https://our.umbraco.com/download/releases/compare the menu item "All Releases" cha

[2020-02-14 10:03] bjarnef opened #546 "Packages search doesn't show filtered result when clicking back"
When searching for e.g. "commerce" here https://our.umbraco.com/packages/ it filter the results as you type.

![image](https://user-images.githubusercontent.com/2919859/74520675-56a9cf00-4f18-11ea-9376-5a7030d61a29.png)

and also when hitting enter key, which redirect to this page:
https://our.umbraco.com/search?q=commerce&cat=project

![image](https://user-images.githubusercontent.com/2919859/745

[2020-02-14 10:15] nul800sebastiaan commented on #545
Ah yeah weird.. guess it's a completely separate menu. 🤷‍♂️

[2020-02-14 10:15] nul800sebastiaan commented on #546
Yeah that would be nice to fix indeed!

[2020-02-14 11:22] LottePitcher commented on #546
I question why pressing the Return key should post to the main Our search page. The user is searching from within the Packages section of Our.  The client-side search uses the packages search results page. Could the post action be changed so that it also uses the packages search results page, so the user stays in the Packages section?

[2020-02-14 11:52] nul800sebastiaan commented on #546
Right you are! I think the biggest reason would be that you can bookmark the search results. That said, the results overview page does not look great. Would be great to have a "get a link to these results" button in theses sections (docs has the same problem).

[2020-02-16 09:26] nul800sebastiaan commented on #543
I'll move this to `up for grabs` for now, we'll eventually get to it, but if you would like to give it a stab then we're happy if you beat us to it! ;-)

[2020-02-25 09:38] abjerner commented on #515
Hi @Rockerby,

This seems to have been fixed. Can you confirm that you're no longer seeing the error?

[2020-02-25 09:51] abjerner opened #553 "Packages: hide Umbraco versions in "Package Compatibility" that are below the lowest required version"
For my redirects package, I've specifically set the minimum required version to 8.1, but older Umbraco versions are still shown in the **Package Compatibility** section to the right.

Proposal: don't show Umbraco versions below the minimum required version.

I think it's still fine to show newer versions than what I have marked as supported. For instance, the newest version I have marked as suppor

[2020-02-25 09:59] jmayntzhusen commented on #553
Hey @abjerner

May be a bit more complicated than it sounds here.. What about old packages that have archived versions working on older versions of Umbraco?
https://our.umbraco.com/packages/developer-tools/umbraco-forms/ comes to mind..

I will transfer this issue to the package repo as we will definitely want to have a look at this page in general _soon_!

[2020-02-26 10:45] KevinJump opened #554 "Unify Search on /packages with the one shown in the backoffice of umbraco"
At the moment the packages page on our is not using the same search as that used for the feed to the back office packages. we should unify them.

in short we should make the packages page use the `PackageRepositoryService`

[2020-02-26 10:49] KevinJump commented on #554
Looking at this, it appears that the PackageRepositoryService returns packages which are retired. (e.g image processor in collaboration tools).

So just to confirm we should also fix that ?

[2020-03-01 09:08] bjarnef opened #557 "Filters not visible on mobile"
On mobile all filters by category is not visible. The wrapper could have `flex-wrap: wrap` or similar.
Also consider move it to top eventually using flexbox order.

![Screenshot_20200301-100437_Chrome](https://user-images.githubusercontent.com/2919859/75622772-4fcfbd00-5ba4-11ea-929f-9b045ff1ef4a.jpg)

[2020-03-02 09:06] Rockerby commented on #515
Hi @abjerner ,

Just tested this and looks like it's still an issue. To be clear; this issue is when you start typing in a location and not just on page load.

![js_error](https://user-images.githubusercontent.com/5808078/75661151-b2888d80-5c64-11ea-8b99-adf30f5f7c00.png)

[2020-03-12 17:16] chiefego opened #559 "Adding a field named 'state' to umb-table items creates an unwanted 'Status' column"
While migrating to version 8.5.4 I came across this weird behavior
In controller:
`vm.options = {
        includeProperties: [
            { alias: "dateCreated", header: "Date" }
        ]
    };`
`vm.items = [{ state: "foo" }];`

![image](https://user-images.githubusercontent.com/1808126/76547497-a4581f80-6463-11ea-88d0-25468faea1a0.png)

[2020-04-11 21:05] jameswilki commented on #532
I've taken a look at this and submitted PR https://github.com/umbraco/OurUmbraco/pull/566 for review.

[2020-04-17 09:29] NikRimington opened #567 "Feature idea for Our to help as part of the centralisation of content"
Was reading the latest round table blog post and I had an idea.

Could we have a way a including links to stack overflow questions that are tagged with Umbraco into Our. We know they exist, but I don't know if StackOverflow has a feed/API we can interact with, but it would be cool to create a bit of "cross linking". It would help encourage users of Our to answer stack overflow questions, which cou

[2020-04-17 09:56] jvtroyen opened #568 "Added blog not showing up on Community blog-posts"
Almost exactly 1 year ago, I added my blog to CommunityBlogs.json.
It took me until now to add more topics (I know, I know, I was born lazy). I see they are not automagically appearing in the list.
The RSS Url I added was http://jvantroyen.blogspot.com/feeds/posts/default, in which I can see the new posts.
Is there another step involved? Did I miss something? Am I looking in the wrong place?

[2020-04-19 12:00] abjerner commented on #568
Hi @jvtroyen,

Your feed seems to be an ATOM feed, which is not supported. ATOM feeds have a `<feed>` element at the root, and each post is expressed by an `<entry>` item.

RSS feeds have a `<rss>` element at the root, and then consists of a single `<channel>`, which again contains an `<item>` element for each post.

[2020-04-19 18:28] OwainWilliams commented on #567
Looks like StackOver does have an API which could be used.
An example is below of all tags which include Umbraco in them.
`https://api.stackexchange.com/docs/tags#order=desc&sort=popular&inname=umbraco&filter=default&site=stackoverflow&run=true`

Full API details are here: `https://api.stackexchange.com/docs` pretty well documented.

I like the idea of cross posting and helping out people who migh

[2020-04-20 06:30] jvtroyen commented on #568
Hi @abjerner ,
that is very good to know. I never used RSS before, so wasn't aware of this difference. I'll try to see what I can do about this format.

[2020-04-20 07:13] jvtroyen commented on #568
The Blogger feed is ATOM, but you can convert it using FeedBurner.
I put the new url (https://feeds.feedburner.com/MyUmbracoAdventures) in a PR.

Thanks @abjerner !

[2020-04-20 07:13] #568 closed

[2020-04-20 08:23] jvtroyen opened #570 "Official Umbraco blogs, date format issue?"
Blogs by Umbraco.com seem to have a date issue on https://our.umbraco.com/community/blog-posts/.
March 12th is displayed as December 3rd. Maybe wrong/ambiguous format in the RSS feed?

[2020-04-20 08:30] jvtroyen commented on #570
Date-format in Umbraco RSS feed seems to be MM/dd/yyyy HH:mm:ss
(e.g. `<pubDate>3/12/2020 12:00:00 PM</pubDate>`)

Other RSS feeds contain e.g. `<pubDate>Wed, 15 Apr 2020 05:40:35 PDT</pubDate>`.
I'm guessing the code that parses these feeds uses multiple formats to decode the date? dd/MM and MM/dd are the biggest ambiguous formats when representing dates.

[2020-04-20 08:36] abjerner commented on #570
As far as I remember, this is because @nul800sebastiaan just ran the job manually. IIRC the thread then doesn't get the correct culture. It should be fixed once the job runs automatically.

I think Seb and I discussed this at some point, but I can't remember the outcome. So it probably wasn't fixed - hence why we're seeing it now 😮

[2020-04-20 08:37] nul800sebastiaan commented on #570
Yeah it will correct itself soon, can't remember how often it runs 😊

[2020-04-20 09:14] nul800sebastiaan commented on #570
There we go, it has corrected itself. I don't often run it manually, so I'm not too concerned about this. It runs automatically every hour on the hour.

[2020-04-20 09:14] #570 closed

[2020-04-20 09:18] jvtroyen commented on #570
Seems indeed nothing to worry about.
Thanks.

[2020-04-21 11:15] jvtroyen opened #572 "Link to personal profile not working"
If I click on 'public profile' in Our
, it links to https://our.umbraco.com/members/Jeroen%20Vantroyen/, which gives an error. Not sure if it's just for me?

[2020-04-21 11:29] abjerner commented on #572
Hi @jvtroyen,

I think you have entered your name instead of your GitHub username when you signed up.

What happens if you go to [edit profile](https://our.umbraco.com/member/profile), and then link with your GitHub account? I think that should fix the username issue.

The GitHub username field on the signup page is from before it was made possible to link with your GitHub account, so ideally that

[2020-04-21 16:21] jvtroyen commented on #572
Hi @abjerner ,
you are correct. Unlinking and relinking my github profile fixed it all.

[2020-04-23 09:13] nul800sebastiaan commented on #567
Hi @NikRimington and @OwainWilliams - I think it's a great idea to spread our friendliness to SO, but I'm a bit worried that by sending people to SO they might get confronted with some not so nice behavior, and they might bring it back to Our, let's hope that doesn't happen though! We'll deal with that if we see it. 👍

The only thing I'm wondering is where we're going to put this list? In the comm

[2020-04-23 09:31] NikRimington commented on #567
Yeah, the Stack Overflow attitude did/does concern me. From a location point of view, it could be nice to have a dedicated page, community area being a fine location, but also a promotional area at the bottom of the main forum page, underneath the pagination that maybe contains one or two questions and a bit of text saying something like.

"Not all Umbraco developer's use Our, so if you have time

[2020-04-23 10:47] nul800sebastiaan commented on #567
Cool, that could definitely work!

[2020-04-23 16:47] DanDiplo opened #574 "Package Search Pagination Borked"
I noticed that the "next" link in the package search pagination appears even when there are no more packages to be shown. eg.

https://our.umbraco.com/packages/?page=4&orderBy=popularity&q=&version=8&category=

Click "Next" and you are into empty territory and can just keep going...

![image](https://user-images.githubusercontent.com/6676168/80125883-30448780-858a-11ea-9095-513984b16c3a.png)

You

[2020-04-30 11:32] PeteDuncanson opened #577 "Add a date filter to the search results page"
Search for https://our.umbraco.com/search?q=migrations and I find stuff listed going back to 2013 mixed in with the latest stuff. I was looking for V8 only stuff and have "V8" selected (by default) in the drop down next to the search box yet I'm getting back stuff from all versions it seems.

Suggest a "show results posted in the last week/month/year" checkbox/drop down would be nice so I can zero

[2020-04-30 11:33] PeteDuncanson opened #578 "Version filter doesn't appear to be working when searching"
As mentioned in #577 if you search for https://our.umbraco.com/search?q=migrations and have the default "V8" target version selected next to the search box the results seem to be from all versions and not just for V8 as I would expect.

[2020-05-11 07:17] jmayntzhusen commented on #554
Closing as the PR is merged, missed this issue at the time 🙂

[2020-05-11 07:17] #554 closed

[2020-05-11 12:57] nul800sebastiaan commented on #577
Oh interesting.. we do have a `SHOW LAST UPDATED FIRST` in the forum search (https://our.umbraco.com/search?q=migrations&cat=forum&order=updateDate), I though we'd have that on the global search too.

I don't think there's much real value in being able to specify that you want to see results from between `2012-03-23` and `2012-04-08`, is there?

Would say the main, big use-case is: I want to see t

[2020-05-11 12:58] nul800sebastiaan commented on #578
Aha.. not sure why that wouldn't work on the main search, it looks like it only works for the docs, but it should of course work everywhere.

[2020-05-17 15:30] abjerner commented on #378
The Angular and C# docs are now versioned and has been for a while - at least for the two latest major versions.

Is this sufficient? In which case we could close this issue (YAY).

Or should we strive to have versioned docs for each major minor? Or even patch releases? Or should the docs for a major minor version always be for the latest patch release for that major minor version?

If the docs on

[2020-05-17 15:46] abjerner commented on #273
Just checking in to see if this is still a worthwhile idea (I think it is), or if the issue should be closed?

To work properly, I think this puts some extra work on the HQ to add a link and a month to the profile of the members being part of uProfile.

Alternative would be to add a new field members could edit themselves, but not all uProfiles might remember or know to do so. And even though we a

[2020-05-17 15:55] abjerner opened #581 "Updating the Angular documentation"
From what I can tell, the Angular documentation hasn't been updated for at least nine months. For instance, the commit below rectifies an example for `entityResource`,

https://github.com/umbraco/Umbraco-CMS/commit/296d7964ae894956d338d90218904e5f9a30c157

But the wrong example is still visible when viewing the documentation:

https://our.umbraco.com/apidocs/v8/ui/#/api/umbraco.resources.entityRes

[2020-05-19 15:27] nul800sebastiaan commented on #581
We should really get this automated somehow but not sure what's required. Will have to look into it.

[2020-05-19 19:18] abjerner commented on #581
Great 👍

Btw, this is somewhat related to my issue about versioned docs: https://github.com/umbraco/OurUmbraco/issues/378

[2020-06-23 13:24] markwemekamp opened #591 "Link to database backup in readme not working"
The link in the readme file to the database backup seems to be outdated

https://umbracoreleases.blob.core.windows.net/ourumbraco/OurDev20200107.7z gives me a 404 error

[2020-06-23 13:25] nul800sebastiaan commented on #591
Yep. We're working on it, might take a little while longer though, it's not an easy process to generate a new version unfortunately! :-)

[2020-06-24 15:23] mattbrailsford opened #592 "Allow package owners to mark answers for package forums"
If you are a package dev and you've create a forum on your package, it would be great if we could have the power within our own forums to mark replies as answers.

We get a lot of support requests which we do provide the answer the OP was needing but they tend to forget or miss marking the thread as having an answer.

As the owner of the forum, it would be great if we could mark the answer ourselv

[2020-06-30 06:58] TimGeyssens opened #595 "Not getting any emails anymore"
Hey, appaers that I'm not getting any emails from our anymore since around April...

So notifications, pw resets...

Cheers,
Tim

[2020-06-30 07:08] nul800sebastiaan commented on #595
Looks like your email server had a problem around late April:

![image](https://user-images.githubusercontent.com/304656/86094738-389ccf80-bab1-11ea-9c9a-4e794fd08857.png)

Which happened often enough for the mail server to not try again:

![image](https://user-images.githubusercontent.com/304656/86094775-43576480-bab1-11ea-8824-89c2b2a8fff8.png)

Fixed now!

[2020-06-30 07:08] #595 closed

[2020-06-30 07:13] TimGeyssens commented on #595
Awesome, thanks

[2020-06-30 12:26] jmayntzhusen opened #596 "Better handling of "current" package files"
When a package file is uploaded for a package it saves it in the wikiFiles table, but all package versions are set as current = true. As far as I can tell this value is never used anywhere, and instead we check the "current" package version by checking which file is set as the current one on the package node in the backoffice.

That is why we update the node value with an UmbPack deployment here:

[2020-06-30 14:56] nul800sebastiaan commented on #596
Just FYI: currently there's a database constraint that sets `current` to `1` for all new rows, this is why it's always set to one for all files:

![image](https://user-images.githubusercontent.com/304656/86141673-9e5d7b80-baf2-11ea-8dfd-2b047373fad9.png)

That's the first thing that needs to change before this bug can be fixed, but luckily that's just a matter of dropping that constraint.

[2020-07-01 09:42] #592 closed

[2020-07-01 09:51] nul800sebastiaan commented on #592
Thanks @mattbrailsford - fixed in https://github.com/umbraco/OurUmbraco/commit/fb64c34a3ffc2c9c4be52b71a408dc08372d1965

This is now deployed and live.

Note that we do send people reminder emails to mark their questions as solved, so maybe don't mark them as such too quickly! 😄

[2020-07-01 10:06] AaronSadlerUK opened #598 "Database download link broken"
The link in the readme to download the database is broken.

https://umbracoreleases.blob.core.windows.net/ourumbraco/OurDev20200107.7z

[2020-07-01 10:09] mattbrailsford commented on #592
🎉🎉🎉🎉

That's awesome!

What's the timeframe on those emails? Just so we know after what timeframe we can go mark answers?

A longer term goal could probably to send another email to package owners a little after the one to the OP so we could just be reminded after an appropriate time, but this is an ideal. Just being able to mark them is fantastic.

Thanks @nul800sebastiaan

[2020-07-01 10:14] AaronSadlerUK commented on #598
#591 Already raised

[2020-07-01 10:14] #598 closed

[2020-07-01 10:15] AaronSadlerUK commented on #591
I didn't spot this issue until after opening mine.

Any eta on this, I wanna play with the site :)

[2020-07-01 11:05] nul800sebastiaan commented on #591
Working on it still, shouldn't be long now I hope 🤞

[2020-07-01 11:11] nul800sebastiaan commented on #592
It's pretty long at the moment, 7 days after the last activity on the topic to give people a chance to try out the replies.

Sure, a reminder can probably be made like this one we already have: https://github.com/umbraco/OurUmbraco/blob/master/OurUmbraco/NotificationsCore/Notifications/ScheduleHangfireJobs.cs#L22

PRs welcome!

[2020-07-09 16:15] mattbrailsford opened #599 "Confusing forum rollovers"
I think there may be a need to rethink the action rollovers on Our forum posts. If you rollover from the top, it's probably ok, but if you roll up from beneath a post attempting to aim for one of the actions, then the actions all move once you get to the point where you are then over the post.

![jIOywYtriJ](https://user-images.githubusercontent.com/527305/87064457-aced1680-c207-11ea-9b4d-d17281c5

[2020-07-24 10:41] nul800sebastiaan commented on #591
A little longer than expected, but the dev database is now back Also note the default branch has been renamed from master to main, easiest way to deal with that is to do a fresh fork and clone if possible! 🙂

[2020-07-24 10:41] #591 closed

[2020-07-28 10:21] liamlaverty opened #604 "If a user isn't on the latest relase page, make it more obvious"
Feature/UX request I think:

When I Google/Bing/DDG "Umbraco v8 release" the page that's returned is [Umbraco V 8.0.0](https://our.umbraco.com/download/releases/800) - which makes total sense, nothing Umbraco can do about it, and the search engine did return me what I asked it to.

It'd be neat if the "also available on Nuget" had some prompt that says "by the way this isn't the latest version", o

[2020-08-03 09:30] nul800sebastiaan commented on #604
Hehe good one @liamlaverty - would be nice to point to the latest release here indeed  (if it's v7 obviously point to the latest v7 release).

[2020-08-04 16:49] skttl opened #605 "Can't rename a package"
I just tried to rename one of my packages, but the changes don't get saved. I also tried updating the description, and that worked.

[2020-08-06 08:52] jmayntzhusen commented on #605
Related pr: https://github.com/umbraco/OurUmbraco/pull/550

Ran into a general problem we have where when I created this. The problem is all package names are based on content nodes in the backoffice, so if you change your package name to fx `Super Package` and that already exists it would instead be called `Super Package(1)`.

This is also currently the case when creating a package though - havin

[2020-08-06 13:36] jmayntzhusen commented on #605
@skttl

This should work now, with the little issue mentioned above for duplicate packages. I will create a separate issue about adding some better name validations both when creating and updating a package 🙂

[2020-08-06 13:36] #605 closed

[2020-08-25 12:11] TRexStark opened #611 "Cannot publish package if I don't enter the full NuGet URL"
I have been trying to publish a new package but I keep getting errors.
1. Filled in the first step "Details"
When I clicked "Next", I got redirected to "https://our.umbraco.com/error/?aspxerrorpath=/umbraco/RenderMvc"
2. I used the links/breadcrumbs at the top to finish up the next steps
3. When I published, the package is shown that it is published, however, it does not appear in the Packages sec

[2020-08-25 13:03] nul800sebastiaan commented on #611
@TRexStark That sucks! It would help to know the name of your package so we can have a look.

[2020-08-25 13:13] TRexStark commented on #611
@nul800sebastiaan Thank you.... @prjseal helped me, it was my bad, I didn't know that I had to put the full URL of the nuGet Package ... Maybe that could be an enhancement/validation to add?

[2020-08-25 13:22] nul800sebastiaan commented on #611
Yep, this could do with some proper validation!

[2020-09-03 09:43] bjarnef opened #615 "Cannot set both current package file and current screenshot"
I have recently released a new package here: https://our.umbraco.com/packages/backoffice-extensions/color-pickr/

However it seems we can no longer both set current package file and current screenshot. This current screenshot will be used as package icon in list of packages.
e.g. here: https://our.umbraco.com/packages/

Here I have set the first release as current package (this in used in the big

[2020-09-03 09:57] bjarnef commented on #615
Maybe it could with a new "package icon" property use this by default, but fallback to "current" screenshot for now. Or maybe a background job to set the package icon from "current" screenshot?

Sometime in future we could probably only use this property to get the package icon. We could still list the package icon together with the screenshots or maybe we want to re-design the package page a bit,

[2020-09-03 10:32] jmayntzhusen commented on #615
Thanks for reporting this Bjarne!

It is currently not working super well, the package team had plans to revamp the entire create package flow as there are a ton of small bugs like this. https://github.com/umbraco/Umbraco.Packages/issues/68

Unfortunately we ran into some issues that meant it would be delayed a bit, and we are currently working on Hacktoberfest preparations - however this is somet

[2020-09-07 16:23] KevinJump opened #619 "Nuget scores are a bit off, if previous nuget packages are unpublished."
It looks like there are some cases where new packages will be given higher scores than they should because of the way the nuget package is published/managed.

![image](https://user-images.githubusercontent.com/431231/92405787-4bc1c080-f12e-11ea-9963-e7cbea222bbc.png)

When we work out the nuget score we attempt to get the published date and then work out the average by dividing total downloads / p

[2020-09-14 07:28] joepvtl opened #621 "Too long issue title"
![image](https://user-images.githubusercontent.com/42842226/93056344-95e5fd00-f66c-11ea-913b-7eb6c7c53493.png)

[2020-09-14 07:41] nul800sebastiaan commented on #621
Yep! In general it would be lovely if someone could put their designer hat on and help make that list look a little bit better, I've made it functional as best I can now and I would love for it to look a lot better!

[2020-09-15 06:48] bjarnef opened #624 "HTML character entities in package list"
In the package list e.g. here https://our.umbraco.com/packages/ many of the descriptions show HTML character entities like `&nbsp;`

![image](https://user-images.githubusercontent.com/2919859/93175666-479a3200-f730-11ea-8276-044cfc9be448.png)

[2020-09-15 07:12] nul800sebastiaan commented on #624
Yes and I am extremely wary of doing html decoding here for security reasons. The only thing we can probably safely do is string replace on `&nbsp;` and `&amp;` to at least make those look nicer. But since this is running directly inside the backoffice of Umbraco we need to be super careful that someone doesn't end up adding a malicious `<script>` tag for example.

[2020-09-15 07:13] nul800sebastiaan commented on #624
To be fair, there doesn't need to be any `&nbsp;` in these descriptions, so we should replace that with proper spaces anyway.

[2020-09-15 07:35] bjarnef commented on #624
I also noticed the character entity `&beta;` = β

![image](https://user-images.githubusercontent.com/2919859/93179753-6996b300-f736-11ea-907b-15a915b9386f.png)

Regarding the old CropUp package I noticed a broken image:
https://our.umbraco.com/packages/website-utilities/eksponent-cropup/

We don't the old ImageGen plugin on Our anymore do we?

[code]

[2020-09-15 13:02] bjarnef opened #626 "Allow community to vote if package works on Umbraco Cloud"
I just had a look at the Umbraco Cloud category on Our, but it only seems a handful packages supports Umbraco Cloud (or has been tested works on Umbraco Cloud): https://our.umbraco.com/packages/?category=uaas

However I think this a bit misleading since some may think that there are not many packages supported on Umbraco Cloud (and maybe a reason for not selecting Umbraco Cloud). Furthermore only

[2020-09-15 13:56] AaronSadlerUK commented on #626
I also think the Author should be able to mark this.

For example I know MegaNavV8 works on Umbraco cloud, including with content migrations.

Being able to mark this as tested on Umbraco Cloud would be a bonus

[2020-09-15 16:33] AaronSadlerUK commented on #611
[#627](https://github.com/umbraco/OurUmbraco/pull/627)

I have just submitted a pull request for this

[2020-09-16 15:18] nul800sebastiaan commented on #626
Hi @bjarnef and @AaronSadlerUK - we will happily mark things as compatible with Cloud as soon as we've made sure that claim is correct. We want to keep some quality control on that for the moment since we'll be getting the complaints if it doesn't work, our procedure is currently as documented here: https://our.umbraco.com/documentation/Umbraco-Cloud/Frequently-Asked-Questions/#do-you-support-pack

[2020-09-16 20:10] bjarnef commented on #626
@nul800sebastiaan sure, but then there has also been packages like Multi Url Picker which was marked as "Works on Umbraco Cloud", but no longer was supported on Umbraco Cloud when the switch from Courier to Deploy was made https://our.umbraco.com/packages/backoffice-extensions/multi-url-picker/
This mark was removed after reaching out to Umbraco Support Team.. but later updated to support Deploy..

[2020-09-17 06:47] nul800sebastiaan commented on #626
Yep all good remarks. It doesn't fit right now but we'll look at it in the future!

[2020-09-18 13:19] nul800sebastiaan commented on #621
Thanks to the wonderful help of @deanleigh I've now updated the release overview to look a whole lot better and deal with wrapping better as well! More updates are needed, but this is (in our humble opinion) quite an improvement already!

[2020-10-03 12:59] AaronSadlerUK opened #633 "Link to packages from the profile window"
To save a few clicks (I know I'm lazy right?), I think adding a link to the window which shows when you click the profile icon, to take you to your packages would be mighty useful :)

[2020-10-03 14:06] LottePitcher commented on #633
Hey Aaron, great minds think alike! There's already an issue over on the Package team repo for this:
https://github.com/umbraco/Umbraco.Packages/issues/65

Hopefully we'll see this get done soon!

[2020-10-03 14:08] AaronSadlerUK commented on #633
@LottePitcher Just submitted a pull request 👍

#634

[2020-10-03 18:30] deanleigh commented on #476
Hey @nul800sebastiaan,
perhaps I can help?

[2020-10-03 18:35] deanleigh commented on #599
Perhaps I can help
really only the item you are hovering needs to expand.
I have done something similar here
![2020-10-03_19-34-41](https://user-images.githubusercontent.com/6745929/94999167-855fdd00-05af-11eb-9c9d-bb30ed0c0803.gif)

[2020-10-05 13:20] nul800sebastiaan commented on #476
Sure thing, Get your Hactoberfest hat on! 🎩

Bjarne's suggestion was:
[code]

Should probably be updated here somewhere:

https://github.com/umbraco/OurUmbraco/blob/fb64c34a3ffc2c9c4be52b71a408dc08372d1965/OurUmbraco.Client/src/scss/elements/_package-detail.scss#L48

[2020-10-05 13:21] nul800sebastiaan commented on #599
I really see no reason to hide the link text at all, should just be showing by default so it doesn't lead to extra cognitive overload to the end-users.

[2020-10-05 13:36] deanleigh commented on #599
I am inclined to agree @nul800sebastiaan, if you have the room add the text.
If the space if tight I am still happy to help.
p.s. In my example the client requested the same design as another site so we built it :-)

[2020-10-05 13:44] deanleigh commented on #476
I think its in line 164:
    span {
        padding-right: 3px;
    }

However, there may be a reason it's applied to 'all' spans in .package-detail-sidebar
I would suggest adding another class as a hook to over-ride it

[2020-10-05 14:27] nul800sebastiaan commented on #476
I look forward to testing a PR! 👍

[2020-10-05 14:28] nul800sebastiaan commented on #599
Should be plenty of space, will give it a test when there's a PR ✔️

[2020-10-05 14:35] bjarnef commented on #476
It seems the default padding-right is mostly for the package compatibility information.

![image](https://user-images.githubusercontent.com/2919859/95092945-7e100f00-0728-11eb-99ec-ab4e1b4e12f5.png)

Instead of adding this as default, it would be better to be more specific instead of overwriting it elsewhere thus I suggested this:

[code]

[2020-10-08 16:57] nul800sebastiaan commented on #633
Fixed in https://github.com/umbraco/OurUmbraco/pull/634

[2020-10-08 16:57] #633 closed

[2020-10-08 17:02] #611 closed

[2020-10-13 12:19] jannikanker opened #636 "C# API source links are broken"
## Detailed description
I'm not sure where this issue belongs (stems from), but the content is on the Our domain so I figured I'd report it here. If I go to https://our.umbraco.com/apidocs/v8/csharp/api/Umbraco.Core.Attempt.html (example) and click "View Source" I am pointed towards https://github.com/umbraco/Umbraco-CMS/blob/8.8/src/Umbraco.Core/Attempt.cs/#L8 which gives me a Page Not Found.

Ho

[2020-10-16 15:50] AaronSadlerUK commented on #452
Submitted a PR: https://github.com/umbraco/OurUmbraco/pull/639

[2020-10-16 21:58] AaronSadlerUK commented on #578
Submitted a PR: https://github.com/umbraco/OurUmbraco/pull/641

[2020-10-16 22:33] AaronSadlerUK commented on #604
Submitted a PR: https://github.com/umbraco/OurUmbraco/pull/642

[2020-10-17 11:40] deanleigh commented on #621
Is this good enough to close the issue?
If it needs more love we could open another?
Not sure what the protocol is.

[2020-10-17 23:13] lynnewritescode opened #644 "Gulp - Update syntax and convert task methods to ES6 modules"
It would be good to refactor the gulpfile to use updated syntax and convert tasks to functions.

[2020-10-28 13:00] dawoe commented on #626
@nul800sebastiaan how can a package dev get HQ to test to check if the package works on Cloud ?

Because in the link you posted describing the procedure, it seems you need to reach out to support using the cloud portal. Not all package developers have access to that.

I only have one of my packages listed as working for Cloud. But I know from experience all of them work on Cloud. I actually don't

[2020-10-30 08:46] #644 closed

[2020-10-30 08:51] nul800sebastiaan commented on #452
Fixed in https://github.com/umbraco/OurUmbraco/pull/639

[2020-10-30 08:53] #545 closed

[2020-10-30 09:00] #604 closed

[2020-11-03 09:18] bjarnef opened #651 "Improve package search"
At the moment it can be difficult to find packages on Our when a package name has a format like "Our.Umbraco.***"

Examples of packages:
Our.Umbraco.GMaps
Our.Umbraco.MaskBackoffice
Our.Umbraco.EditLink
Our.Umbraco.EnvironmentDashboard

Examine/lucene will ignore dot, but I would expect at least e.g. "GMaps" and "MaskBackoffice" to return results.

In some cases package developers also use a packa

[2020-11-12 10:55] LottePitcher commented on #651
Hey @bjarnef! I agree, does seem wrong that searching for "gmaps", or indeed "Our.Umbraco.GMaps" - taking that example - doesn't return the "Our.Umbraco.Gmaps" package in the results. I often only remember the nuget name!

Issues relating to the packages section are now being managed by the Package Team over on https://github.com/umbraco/Umbraco.Packages/issues - @jmayntzhusen please can you move

[2020-11-12 11:23] LottePitcher commented on #626
There is an open issue - https://github.com/umbraco/Umbraco.Packages/issues/53 - suggesting that the ability to 'request a Cloud review' is added to the packages area on Our. This should make it easier for package devs to start the review process.

[2020-11-13 11:04] sixeyes opened #653 "Any plans to migrate to Umbraco v8.x?"
Looking for a forum package for Umbraco. This looks like the best candidate but is using v7.x
Are there any plans to migrate to Umbraco v8.x?

[2020-11-13 11:08] nul800sebastiaan commented on #653
This is absolutely not a good candidate! 😅 🙈  _seriously, our forum is cobbled together, it works.. and that's about it_

I'm not aware of any forum packages for v8 and I would say it's very specialized and shouldn't be handled with Umbraco.
There's so many things to think about, spam, emails, upvoting, downvoting, culture, moderation, etc. I think [Discourse](https://www.discourse.org/) is excell

[2020-11-13 11:08] #653 closed

[2020-12-01 13:31] m4nickroll opened #658 "Breaking change(s) from 8.8 are not showing on release compare page"
I needed to upgrade from 8.6.2 to 8.9.1 so used the release compare page - https://our.umbraco.com/download/releases/compare?from=8.6.2&to=8.9.1 - which listed 0 breaking changes.

I went ahead however I then encountered an issue with boolean/toggle/checkbox label prevalues which turned out to be a breaking change listed against 8.8 - https://our.umbraco.com/download/releases/880 - there are two l

[2020-12-04 10:46] bjarnef opened #660 "Total downloads of packages doesn't match"
It seems to total downloads of packages doesn't match the total number of downloads on the package page itself, e.g. the total number of Umbraco Forms downloads.

On the overview page it says: 666660

![image](https://user-images.githubusercontent.com/2919859/101154077-8c45b300-3625-11eb-8bae-64b8b40357f7.png)

but on the package page it says: 648871

![image](https://user-images.githubusercontent

[2020-12-04 11:17] LottePitcher commented on #660
Good spot @bjarnef , clearly something not quite right somewhere!

There's an open PR re fixing nuget download numbers: https://github.com/umbraco/OurUmbraco/pull/620

Perhaps makes sense to wait for that to be accepted/merged and then we can check again to see if this issue is still occurring.

[2020-12-09 15:28] nul800sebastiaan commented on #658
Weird, breaking changes don't seem to be showing in this compare list at all! We'll have to have a look.

[2020-12-09 15:33] m4nickroll commented on #658
They do for certain releases, if that helps. So if you compare 8.5.0 and 8.9.1 you get 5 breaking changes. So it may just be specific to the one(s) from 8.8.0?

[2020-12-14 19:22] #192 closed

[2020-12-14 19:22] #193 closed

[2020-12-14 19:22] #194 closed

[2020-12-14 19:22] #195 closed

[2020-12-14 19:25] #196 closed

[2020-12-14 19:25] #197 closed

[2020-12-14 19:25] #199 closed

[2020-12-14 19:25] #205 closed

[2020-12-14 19:26] #222 closed

[2020-12-15 07:18] #245 closed

[2020-12-15 07:18] #256 closed

[2020-12-15 07:18] #261 closed

[2020-12-15 07:19] #275 closed

[2020-12-15 07:19] #278 closed

[2020-12-16 13:30] #291 closed

[2020-12-16 16:01] KevinJump commented on #660
I've done some digging and i now at least understand why they are different.

the download figure on the packages (search) page comes from the examine index, this value is populated on a hangfire job (that runs daily).

The figure on the package details page (the package's own page) comes directly from a cached version of the file the first job produces, as this is cached in memory, and accessed o